.bighheadless-ssec--2 {
    max-width: 1400px;
    margin: 50px auto;
    padding: 50px;
    background-color: #ecf1f4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .bighheadless-ccon--2-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    /* flex-wrap: wrap; */
    width: 100%;
  }
  
  .bighheadless-con--2-div-contentt {
    flex: 1 1 500px;
    text-align: left;
  }
  
  .bighheadless-con--2-div-contentt h3 {
    font-weight: 600;
    color: #111;
    font-size: 26px;
    margin-bottom: 15px;
  }
  
  .audit-img {
    flex: 1 1 250px;
    max-width: 250px;
    height: auto;
    display: block;
    margin: auto;
  }
  
  .bighheadless-btn-auditCom {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    background-color: #0c61ff;
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid #0c61ff;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .bighheadless-btn-auditCom:hover {
    background-color: #fff;
    color: #0c61ff;
  }
  
  /* RESPONSIVE BREAKPOINTS */
  @media screen and (max-width: 1024px) {
    .bighheadless-ccon--2-div {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 25px;
    }
  
    .bighheadless-con--2-div-contentt {
      text-align: center;
      flex: 1 1 50px;
    }
  
    .bighheadless-con--2-div-contentt h3 {
      font-size: 24px;
      text-align: center;
    }
  
    .audit-img {
      max-width: 220px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .bighheadless-ssec--2 {
      padding: 30px 20px;
    }
    .bighheadless-con--2-div-contentt {
        flex: 1 1 50px;
       
      }
  
    .bighheadless-con--2-div-contentt h3 {
      font-size: 22px;
      text-align: center;
    }
  
    .bighheadless-btn-auditCom {
      padding: 14px 25px;
      font-size: 16px;
    }
  
    .audit-img {
      max-width: 180px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .bighheadless-ssec--2 {
      padding: 25px 15px;
    }
  
    .bighheadless-con--2-div-contentt {
      text-align: center;
      flex: 1 1 50px;
    }
  
    .bighheadless-con--2-div-contentt h3 {
      font-size: 20px;
      text-align: center;
    }
  
    .bighheadless-btn-auditCom {
      padding: 12px 20px;
      font-size: 14px;
    }
  
    .audit-img {
      max-width: 150px;
    }
  }
  