.logo-container {
    width: 100%;
    background-color: #f5f3ef;
    /* padding: 0px 73px; */
  }
  
  .logo-sliders {
    margin: 0 auto;
    max-width: 1600px;
  }
  
  .logo-heading {
    margin-bottom: 30px;
  }
  
  /* logo slider */
  .logo-sliders {
    background-color: #F5F3EF;
    padding: 40px 0px;
    /* margin-top: 7rem; */
  }
  
  .logo-slider img {
    width: 220px !important;
    height: 130px;
  }
  
  .logo-slider-1 img {
    width: 220px !important;
    height: 130px;
  } 

  
  
  @media screen and (min-width:1300px) {
    
    .logo-sliders{
    padding: 30px 0px;
  
    }
    .logo-slider img{
      width: 320px;
      height: 160px;
    }
  
    .logo-slider-1 img {
      width: 320px;
      height: 160px;
    }
  }
  
  
  
  
  
  @media (max-width: 768px) {
    .logo-heading span {
      font-size: 20px;
    }
  
    .logo-heading p {
      font-size: 14px;
    }
  
    .logo-sider img {
      width: auto;
    }
  
  }
  
  @media (max-width: 480px) {
  
    .logo-slider,
    .logo-slider-1 {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  
    .logo-slider div,
    .logo-slider-1 div {
      width: auto;
    }
  
    .logo-heading span {
      font-size: 18px;
    }
  
    .logo-heading p {
      font-size: 12px;
    }
  
  
  }
  
  
  .logo-slider {
    direction: rtl;
    padding: 10px;
  }
  
  .logo-slider-1 {
    padding: 10px;
  
  }
  
  
  .logo-heading p {
  
    text-align: center;
    line-height: 64px;
    font-size: 40px;
  }
  
  .logo-heading span {
    font-weight: 600;
    font-size: 40px;
    color: #15202E;
  
  }
  
  .logo-heading {
    text-align: center;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }