.logo-container {
  width: 100%;
  background-color: #f5f3ef;
  padding: 40px 0;
}

.logo-heading {
  margin-bottom: 30px;
}

.logo-sliders {
  max-width: 1600px;
  margin: 0 auto;
}

.logo-heading p {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.slide-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.slide-item img {
  width: 85%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .logo-heading p {
    font-size: 24px;
  }

  .slide-item img {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .logo-heading p {
    font-size: 25px;
    line-height: 35px;
}

  .slide-item img {
    width: 75%;
    height: 70%;
    object-fit: cover;
  }
}
