* {
    font-family: 'Poppins', sans-serif;
  }
  
  .tripole1 {
    background: #d2d2d239;
    padding: 150px 50px 50px 50px;
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1720px;
    margin: 0 auto;
  }
  
  .tripole2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 50px 0px 0px 0px;
    margin: auto;
    width: 100%;
  }
  
  .tripole3 {
    max-width: 50%;
  }
  .victus {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 0px 0px 5px;
  
  }

  
  .tripole4 {
    font-size: 3rem;
    font-weight: 700;
    padding: 12px 0px 0px 0px;
    line-height: 50px;
    font-weight: 700;
    color: rgb(42, 41, 41);
    margin-bottom: 15px;
  }
  
  .tripole5 {
    font-size: 1.1rem;
    margin-bottom: 20px;
    padding: 20px 0px 0px 0px;
    line-height: 1.5;
  }
  
  .tripole6 {
    display: flex;
    padding: 20px 0px 0px 0px;
    gap: 20px;
  }
  
  .tripole7,
  .tripole8 {
    padding: 15px 45px;
    font-size: 1rem;
    border-radius: 39px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
  }
  
  .tripole7 {
    background: #0c61ff;
    border: 1px solid;
    color: #fff;
  }
  
  .tripole7:hover {
    background: #fff;
    color: #0c61ff;
  }
  
  .tripole8 {
    background: #fff;
    color: #0c61ff;
    padding: 15px 39px;
    border: 1px solid #0c61ff;
  }
  
  .tripole8:hover {
    background: #0c61ff;
    color: #fff;
  }
  
  .tripole9 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* padding: 20px; */
    max-width: 40%;
  }
  
  .tripole10 {
    background: #ffff !important;
    padding: 19px 23px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 103px;
    gap: 8px; /* 🔥 This adds gap between icon and text */
  }
  
  .tripole10:hover {
    background: rgba(203, 201, 201, 0.2);
  }
  
  .tripole12 {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  
  .tripole11 {
    font-size: 28px;
    color: #00aaff;
    padding: 6px 0px 0px 0px;
    margin: auto;
  }
  
  /* Responsive */
  @media (max-width: 1024px) {
    .tripole2 {
      flex-direction: column;
      text-align: center;
    }
  
    .tripole3 {
      max-width: 100%;
      margin-bottom: 30px;
    }
  
    .tripole9 {
      max-width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .tripole4 {
      font-size: 24px;
      padding-top: 10px;
      text-align: center !important;
      line-height: 28px;
    }
  
    .tripole5 {
      font-size: 0.9rem;
      text-align: center !important;
    }
  
    .tripole9 {
      grid-template-columns: repeat(2, 1fr);
      margin: auto;
    }
    .tripole6 {
      justify-content: center !important;
    }
  }
  
  @media (max-width: 768px) {
    .tripole6 {
      gap: 15px;
      align-items: center;
    }
    .tripole2{
      padding: 100px 40px 50px 40px;
    }
  
    .tripole1 {
      padding: 100px 10px 0px 10px;
    }
  
    .tripole7,
    .tripole8 {
      /* width: 100%; */
      padding: 12px 18px;
      font-size: 0.9rem;
    }
  }
  @media(max-width:600px){
    .victus p {
      text-align: center !important;
    
    }
    .tripole4{
      text-align: center !important;
    }
    .tripole2{
      padding: 100px 40px 50px 40px;
    }
  }
  
  @media (max-width: 426px) {
    .tripole6 {
      gap: 10px;
      align-items: center;
      justify-content: center;
    }
    .victus p {
      text-align: center !important;
    
    }
    .tripole2{
      padding: 100px 8px 0px 8px;
    }
  
    .tripole1 {
      padding: 90px 20px 40px 20px;
    }
  
    .tripole4 {
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      padding-top: 10px;
    }
  
    .tripole7,
    .tripole8 {
      /* width: 100%; */
      padding: 10px 15px;
      font-size: 0.7rem;
    }
  
    .tripole12 {
      font-size: 11px;
    }
  
    .tripole5 {
      font-size: 13px;
      text-align: center;
    }
  
    .commerceFeatures p,
    .Bleft-sectionEcom p {
      font-size: 12px !important;
    }
  }
  