.growthStory{

    background: linear-gradient(90deg, #f8f8f893, #a5b2d064);
  }
  .growth-story-container {
    margin: auto;
    max-width: 1720px;
      color: black;
      padding: 70px 50px;
      text-align: center;
    }
    
    .growth-story-title {
      text-align: left;
      font-weight: 600;
      font-size:42px;
      color: black;
    }
    
    .growth-story-tabs {
      display: flex;
      justify-content: center;
      gap: 70px;
      
      margin: 20px 0;
    }
    
    .growth-story-tab {
      background: none;
      border: none;
      color: black;
      font-size: 1.6rem;
      cursor: pointer;
      padding: 10px 20px;
      transition: 0.3s ease-in-out;
      font-weight: 600;
    }
    
    .growth-story-tab.active {
      border-bottom: 6px solid #0c61ff;
    }
    .growthHr{
      color: black;
      position: relative;
      top: -21px;
    
    }
    .growth-story-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 70px;
      /* flex-wrap: wrap; */
      margin-top: 20px;
      border-radius: 10px;
      /* border: 1px solid black; */
  
    }
    
    .growth-story-image {
      width: 670px;
      /* max-width: 500px; */
      border-radius: 10px;
    }
    
    .growth-story-text {
      /* max-width: 500px; */
      text-align: left;
    }
    
    .growth-story-text h3 {
      line-height: 55px;
      font-size:30px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    
    .growth-story-text p {
      font-size: 22px;
      color: black;
    }

   
    
    @media(max-width:1200px){
      .growth-story-tabs {
        gap: 0px;
        display: grid;
        grid-template-columns: repeat(4,4fr);
      }
    }
    @media (max-width: 1024px) {
      .growth-story-title {
        text-align: center;
      }
      .growth-story-tabs {
        gap: 0px;
        display: grid;
        grid-template-columns: repeat(4,4fr);
      }
      .growth-story-content{
        border: none ;
            }
      .growth-story-content {
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
    
      .growth-story-image {
        width: 100%;
        max-width: 500px;
      }
    
      .growth-story-text {
        max-width: 100%;
        text-align: center;
      }
    
      .growth-story-text h3 {
        text-align: center;
        font-size: 30px;
      }
    
      .growth-story-text p {
        text-align: center;
        font-size: 1.3rem;
      }
    }
    
    @media (max-width: 768px) {
      .growth-story-tabs {
        gap: 0px;
        display: grid;
        grid-template-columns: repeat(4,4fr);
      }
      .growth-story-content{
  border: none ;
      }
    .growthHr {
      display: none;
    }
      .growth-story-tab {
        font-size: 1.2rem;
        padding: 8px 12px;
      }
    
      .growth-story-title {
        font-size: 40px;
        text-align: center;
      }
  
    }
    
    @media (max-width: 480px) {
      .growth-story-container{
        padding: 40px 10px;
      }
      .growth-story-title {
        font-size: 27px;
      }
    
      .growth-story-tab {
        font-size: 1rem;
      }
    
      .growth-story-content {
        gap: 20px;
        padding: 15px;
      }
    
      .growth-story-text h3 {
        line-height: 29px;
        font-size: 26px;
        text-align: center;
      }
    
      .growth-story-text p {
        padding: 10px 0px;
        text-align: center;
        font-size: 1rem;
      }
    }
    