.Big-headless-intro {
  padding: 50px 30px !important;
  background: #fff;
  overflow-x: hidden;
  max-width: 1550px;
  font-family: 'Poppins', sans-serif;
}

.Big-headless-intro-container {
  max-width: 1380px;
  margin: auto;
  display: flex !important;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 0px 0px 0px;
  gap: 60px;
  flex-wrap: wrap;
  flex-direction: row;
}

.Big-headless-intro-image img {
  width: 100%;
  max-width: 538px;
  border-radius: 10px;
}

.Big-headless-intro-text {
  max-width: 620px;
  flex: 1;
}

.Big-headless-intro-subheading {
  font-size: 15px !important;
  color: #0b60ff;
  font-weight: 500;
  margin-bottom: 12px;
}

.Big-headless-intro-text h3 {
  font-size: 42px;
  font-weight: 600;
  color: #1c1e21;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1.1;
}

.Big-headless-intro-description {
  font-size: 18px !important;
  line-height: 28px;
  padding: 15px 0px 0px 0px;
  color: #444;
  margin-bottom: 30px;
}

.Big-headless-intro-button {
  display: inline-block;
  padding: 14px 22px;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  color: #0b60ff;
  border: 2px solid #0b60ff;
  border-radius: 39px;
  text-decoration: none;
  /* transition: 0.3s ease; */
}

.Big-headless-intro-button:hover {
  background-color: #0b60ff;
  color: #fff;
}

.butterr {
  margin-left: 10px !important;
  transition: margin-left 0.3s ease;
}

/* .Big-headless-intro-button:hover span {
    margin-left: 14px;
  } */

/* Responsive Styles */
@media (max-width: 1024px) {
  .Big-Big-headless-intro-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .Big-Big-headless-intro-text h1 {
    font-size: 36px;
  }

  .Big-headless-intro-description {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .Big-headless-intro {
    padding: 40px 16px;
  }

  .Big-Big-headless-intro-text h1 {
    font-size: 30px;
  }

  .Big-headless-intro-description {
    font-size: 15px;
  }

  .Big-headless-intro-button {
    font-size: 15px;
    padding: 12px 20px;
  }
}

@media (max-width: 480px) {
  .Big-Big-headless-intro-text h1 {
    font-size: 26px;
  }

  .Big-headless-intro-subheading {
    font-size: 14px;
    text-align: center;
  }

  .Big-headless-intro-text h3 {
    text-align: center;
    font-size: 21px;
  }

  .Big-headless-intro-container {
    gap: 30px;
  }

  .Big-headless-intro-description {
    font-size: 14px;
    text-align: center;
  }

  .big-btn {
    text-align: center;
  }

  .Big-headless-intro-button {
    font-size: 14px;
    text-align: center;
    padding: 10px 18px;
  }
}