#popupFormElement {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

.popup-modal {
    display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1000;
}  
  
  .pop-parent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
  }
  
  .popcrosson {
    max-width: 16px;
    cursor: pointer;
    position: absolute;
    right: 20px;
  
  }
  .popup-captcha-btn{
    background: #0ea80e;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    height: unset !important;
    width: unset !important;
    margin-top: 0px !important;
  }
  .cicletick{
  background-color: green;
  
  }
  .captcha-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }
  .inputcapt input{
  width: 50px;
  font-size: 15px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  }
  .iti{
    width: 100%;
  }
  #popMobile {
    width: 100% !important;
    padding-left: 50px !important;
  }
  
  .pop-captcha-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    margin-bottom: 8px;
  }
  
  #pop-captchaQuestion {
    font-weight: 500;
    font-size: 18px;
  }
  
  #pop-captchaAnswer {
    border: none;
    border-bottom: 2px solid #000;
    text-align: center;
    width: 40px;
    margin-left: 6px;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
  }
  
  #pop-captchaAnswer:focus {
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
  }
  
  .pop-captcha-btn {
    background: #0ea80e;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .pop-captcha-btn:hover {
    background: #0b7e0b;
  }
  
  .form-heading {
    margin-top: 5px !important;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .modal-box {
    max-width: 1000px;
    width: 80%;
    background-color: #fff;
    padding: 25px;
    /* overflow: hidden; */
    border-radius: 15px;
    position: relative;
  }
  
  .pop-rightForm {
    position: absolute;
    top: 35px;
    right: 52px;
    z-index: 10;
    width: 510px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  
  .popup-contact-heading {
    padding: 15px 0px 0px;
    text-align: center;
    font-size: 24px;
    margin: 0px !important;
    color: #000;
    /* padding-bottom: 10px; */
    font-weight: 600;
  }
  
  .pop-contact-form {
    padding: 1.125rem 1.875rem 0;
  }
  
  .cross-icon {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, 0) 267.27%);
    border-radius: 50%;
    position: absolute;
    right: -59px;
    top: -20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .cross-icon>i {
    font-weight: 600;
    font-size: 15px;
  }
  
  .input-parent-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .pop-contact-input {
    border: 1px solid #000;
    border-radius: 5px;
    color: #4d4f53;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    line-height: 1.125rem;
    outline: none;
    padding: 10px;
    transition: all .1sease;
    vertical-align: middle;
  }
  
  .pop-contact-form-btn {
    background: linear-gradient(90deg, #0053ce, #00c2ff 51%, #0053ce) 0 / 200%;
    width: 100%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-top: 0px !important;
    color: #fff;
    padding:5px 15px !important;
    font-weight: 600;
    height: 45px;
    transition: all .1s ease-in;
  }
  
  .pop-contact-form-btn:hover {
    background: linear-gradient(90deg, #0053ce, #00c2ff 51%, #0053ce) 100% / 200%;
  }
  
  
  .upper-modal-box {
    background: #083792;
    min-height: 320px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .upper-left-content {
    max-width: 400px;
    color: #fff;
    padding-left: 30px;
  }
  
  .bottom-left-box {
    padding-left: 15px;
  }
  
  .popup-form-heading {
    /* line-height: 50px; */
    font-weight: 600;
    /* font-size:40px; */
        font-size: 2.1rem !important;
        line-height: 2.4rem;
    /* line-height: 5rem; */
  }

  
  .popupup-sm-heading {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .popup-hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  .popup-para {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 7px 0px;
    font-size: 16px !important;
  }
  
  .popup-para>i {
    font-size: 19px;
    color: greenyellow;
    margin-right: 8px;
  }
  
  .bottom-modal-box {
    max-width: 340px;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
  .bottom-right-box{
    /* margin-top: 20px; */
    padding: 10px 0px 0px 10px ;
  }
 
  .bottom-left-box{
    padding: 10px 0px 0px 10px ;
  }

  .bottom-left-box-heading,
  .bottom-right-box-heading {
    font-size: 25px !important;
    font-weight: 700 !important;
    color: black;
  }
  
  .bottom-popup-hr {
    transform: rotate(90deg);
    width: 195px;
    margin: 0px;
  }
  
  .popup-companies {
    width: 400px;
    margin: 20px auto;
    display: block;
  
  }
  
  .bottom-left-box>p {
    font-size: 13px;
  }
  
  .popup-para{
    font-size: 13px;
  }
  /* .popup-modal {
    /* display: none; */
  .upper-left-content > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    /* color: ; */
  }
  .popup-modal.showpopup {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }

  .popup-extra-small-heading {
    font-size: 12px !important;
    font-weight: 700;
  }
  
  @media screen and (max-width:1000px) {
    .inner-contact-container {
      flex-direction: column;
    }
  
    .clients::after {
      width: 550px;
    }
  }
  
  @media screen and (max-width:700px) {
    .clients::after {
      width: 400px;
    }
  }
  
  @media screen and (max-width:576px) {
    .clients::after {
      width: 200px;
    }
  }
  
  @media screen and (max-width:1300px) {
    .popup-heading {
      font-size: 3.3rem !important;
    }
    .upper-left-content {
      max-width: 325px;
      color: #fff;
      padding-left: 30px;
  }
  
  .pop-rightForm {
    width: 440px;
  }
  }
  
  @media screen and (max-width:1180px){
    .bottom-modal-box {
      max-width: 280px;
  }
  .upper-left-content {
    max-width: 280px;
  }
  
  .popup-heading {
    font-size: 3rem !important;
  }
  
  .popupup-sm-heading {
    font-size: 16px;
  }
  
  .upper-left-content > hr {
    margin-top: 10px;
    margin-bottom: 12px;
  }
  
  .pop-rightForm {
    width: 400px;
  }
  }
  
  @media screen and (max-width:1030px) {
    .modal-box {
      width: 90%;
      padding: 0px;
    }
  
  
    .upper-left-content {
      display: none;
    }
  
    .upper-modal-box {
      display: none;
    }
  
    .bottom-modal-box {
      display: none;
    }
  
    .pop-rightForm {
      position: unset;
      width: auto;
    }
  
    .popup-companies {
      width: 300px;
    }
  
    .cross-icon {
      right: -124px;
      top: -48px;
  }
  
    .contact-container>.container {
      flex-direction: column;
    }
  
    .contact-box {
      grid-template-columns: 1fr;
    }
  
    .contact-first-div {
      grid-template-columns: 1fr;
    }
  
    .right {
      width: 90% !important;
    }
  
    .contact-container>.container {
      display: block;
    }
  
    .left {
      width: 95% !important;
      margin: auto;
    }
  
    .company-images>img {
      width: 270px;
      margin: 11px auto 33px;
      display: inline-block;
    }
  
    .clients::after {
      width: 168px;
    }
  
    .contact-box {
      width: 90% !important;
    }
  
    .right {
      width: 90% !important;
    }
  
    .contact-heading {
      font-size: 18px;
    }
  
    .left-contact-heading {
      width: 290px !important;
      font-size: 32px !important;
      line-height: 41px;
    }
  
    .modal-box {
      width: 320px !important;
      padding: 0px;
    }
  
    .upper-modal-box,
    .bottom-modal-box {
      display: none;
    }
  
    .pop-right-parent-div{
      background:#007BFF;
      padding: 10px;
      border-radius: 10px;
      width: 320px;
  }
  }
  @media screen and (max-width:1300px) {
    .popup-heading {
      font-size: 3.3rem !important;
    }
    .upper-left-content {
      max-width: 325px;
      color: #fff;
      padding-left: 30px;
  }
  
  .pop-rightForm {
    width: 440px;
  }
  }
  
  @media screen and (max-width:1180px){
    .bottom-modal-box {
      max-width: 280px;
  }
  .upper-left-content {
    max-width: 280px;
  }
  
  .popup-heading {
    font-size: 3rem !important;
  }
  
  .popupup-sm-heading {
    font-size: 16px !important;
  }
  
  .upper-left-content > hr {
    margin-top: 10px;
    margin-bottom: 12px;
    border-top: 1px solid #eee;
  }
  
  .pop-rightForm {
    width: 400px;
  }
  }
  
  @media screen and (max-width:1030px) {
    .modal-box {
      width: 90%;
      padding: 0px;
    }
  
  
    .upper-left-content {
      display: none;
    }
  
    .upper-modal-box {
      display: none;
    }
  
    .bottom-modal-box {
      display: none;
    }
  
    .pop-rightForm {
      position: unset;
      width: auto;
    }
  
    .popup-companies {
      width: 300px;
    }
  
    .cross-icon {
      right: -124px;
      top: -48px;
  }
  
    .contact-container>.container {
      flex-direction: column;
    }
  
    .contact-box {
      grid-template-columns: 1fr;
    }
  
    .contact-first-div {
      grid-template-columns: 1fr;
    }
  
    .right {
      width: 90% !important;
    }
  
    .contact-container>.container {
      display: block;
    }
  
    .left {
      width: 95% !important;
      margin: auto;
    }
  
    .company-images>img {
      width: 270px;
      margin: 11px auto 33px;
      display: inline-block;
    }
  
    .clients::after {
      width: 168px;
    }
  
    .contact-box {
      width: 90% !important;
    }
  
    .right {
      width: 90% !important;
    }
  
    .contact-heading {
      font-size: 18px;
    }
  
    .left-contact-heading {
      width: 290px !important;
      font-size: 32px !important;
      line-height: 41px;
    }
  
    .modal-box {
      width: 320px !important;
      padding: 0px;
    }
  
    .upper-modal-box,
    .bottom-modal-box {
      display: none;
    }
  
    .pop-right-parent-div{
      background:#007BFF;
      padding: 10px;
      border-radius: 10px;
      width: 320px;
  }
  }
  
  #popup-captchaAns {
    border-bottom :1px solid black ;
  }

  #popup-captchaAns:focus {
    border-bottom :1px solid black ;
    outline: none;
  }