body {
  color: #191d26;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0;
  padding: 0;
}

.services-we-served {
  max-width: 1720px;
  margin: auto;
  padding: 50px 50px;
}

.headeservices-we-served-search-content {
  text-transform: math-auto;
}

@media only screen and (min-width: 1024px) {
  body {
    line-height: 1.5rem;
  }
}

.vision-section {
  display: block;
  position: relative;
}

.vision-section {
  /* background-color: #fff; */
  padding-bottom: 1.563rem;
  padding-top: 1.563rem;
}

@media only screen and (min-width: 768px) {
  .vision-section {
    padding-top: 2.344rem;
  }
}

@media only screen and (min-width: 991px) {
  .vision-section {
    padding-top: 3.125rem;
  }
}

@media only screen and (min-width: 768px) {
  .vision-section {
    padding-bottom: 2.344rem;
  }
}

@media only screen and (min-width: 991px) {
  .vision-section {
    padding-bottom: 3.125rem;
  }
}

@media only screen and (min-width: 1024px) {
  a {
    transition: all 0.1s ease;
  }
}

.services-we-served-header h2 {
  font-size: 2.7rem;
  font-weight: 600;
  /* width: 326px; */
  line-height: 2.8rem;
}

.container1 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1260px; */
  /* padding: 0 1.25rem; */
  width: 100%;
}

.headeservices-we-served-search-content {
  font-size: 20px !important;
  font-weight: 500;
}

@media only screen and (min-width: 1440px) {
  .container1 {
    padding: 0 1.875rem;
  }
}

@media (max-width: 450px) {
  .headeservices-we-served-search-content {
    text-align: center;
  }
}

strong {
  font-weight: 700;
}

.h2 {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 991px) {
  .h2 {
    font-size: 2.125rem;
    line-height: 2.875rem;
  }
}

@media only screen and (min-width: 1366px) {
  .h2 {
    font-size: 2.625rem;
    line-height: 3.5rem;
  }
}

.hide {
  display: none;
}

.d-flex-row {
  flex-direction: row;
}

.d-flex-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.d-just-center {
  justify-content: center;
}

.d-align-center {
  align-items: center;
}

.d-just-between {
  justify-content: space-between;
}

.hidden-label {
  font-size: 0;
  height: 0;
  line-height: 0;
  opacity: 0;
  overflow: hidden;
  position: relative;
  width: 0;
}

@media only screen and (min-width: 1260px) {
  .hidden {
    display: none !important;
  }
}

.grid {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(1.875rem, 100%));
  row-gap: 1rem;
}

@media only screen and (min-width: 991px) {
  .grid {
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(1.875rem, 100%));
    row-gap: 1.25rem;
  }
}

.services-we-served {
  padding-bottom: 3.125rem;
  padding-top: 3.125rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served {
    padding-top: 6.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .services-we-served {
    padding: 45px 60px;
  }
}

@media only screen and (min-width: 991px) {
  .services-we-served .title {
    display: none;
  }
}

.services-we-served .section-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2.75rem;
}

.services-we-served .section-grid .section-grid-item {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item {
    flex: 0 0 28.65%;
    max-width: 28.65%;
  }
}

@media only screen and (min-width: 1440px) {
  .services-we-served .section-grid .section-grid-item {
    flex: 0 0 28%;
    max-width: 28%;
  }
}

.services-we-served .section-grid .section-grid-item .services-we-served-header {
  border-bottom: 0.063rem solid #d9d9d9;
  display: none;
  padding-bottom: 1.65rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-we-served-header {
    display: block;
  }
}

.services-we-served .section-grid .section-grid-item .services-we-served-header .btn-link {
  display: flex !important;
}

.services-we-served .section-grid .section-grid-item .services-we-served-header h2 {
  margin-bottom: 1.125rem;
}

.services-we-served .section-grid .section-grid-item .services-we-served-header>p {
  color: rgba(25, 29, 38, 0.66);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.services-we-served .section-grid .section-grid-item .services-we-served-header .btn-link {
  color: #0c61ff;
  font-weight: 600;
}

.btn-icon {
  margin-right: 8px;
}

.services-we-served .section-grid .section-grid-item .services-we-served-header .btn-link>.btn-icon svg path {
  fill: #0c61ff;
}

.services-we-served .section-grid .section-grid-item .services-we-served-search {
  order: 3;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-we-served-search {
    padding-top: 1.75rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-we-served-search>.services-we-served-search-content {
  color: #191d26;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 2.125rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-we-served-search>.services-we-served-search-content {
    font-weight: 500;
    padding-bottom: 1.45rem;
  }

  .services-we-served .section-grid .section-grid-item.services-we-served-list {
    flex: 0 0 66.667%;
    max-width: 66.667%;
    order: 2;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-grid {
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(1.875rem, 100%));
  margin-bottom: 0;
  margin: 0;
  row-gap: 0.688rem;
  list-style: none !important;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-grid {
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3,
        minmax(1.875rem, calc(33.33333% - 0.83333rem)));
    row-gap: 0.938rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item-header {
  align-items: center;
  display: flex;
  gap: 0.938rem;
  justify-content: space-between;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item-header {
    align-items: flex-start;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item-header .services-box-item-left {
  align-items: center;
  -moz-column-gap: 0.938rem;
  column-gap: 0.938rem;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item-header .services-box-item-left {
    align-items: flex-start;
    flex-direction: column;
  }

  .services-we-served .section-grid .section-grid-item .services-box-item-header .services-box-icon {
    padding-bottom: 1rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item-header .services-box-icon>div {
  height: 1.875rem;
  vertical-align: middle;
  width: 1.875rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item-header .services-box-icon>div {
    height: 3.125rem;
    width: 2.813rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item-header .services-box-down-icon {
  align-items: center;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  height: 1.75rem;
  justify-content: center;
  min-width: 1.75rem;
  position: absolute;
  right: 1rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item-header .services-box-down-icon {
    height: 1.25rem;
    min-width: 1.25rem;
    position: absolute;
    right: 0.875rem;
    top: 1.063rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item-header .services-box-down-icon svg {
  height: 0.5rem;
  vertical-align: middle;
  width: 0.7rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item-header .services-box-down-icon svg {
    height: 0.313rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item {
  background-color: rgba(224, 236, 255, 0.3);
  border: 0.063rem solid hsla(0, 0%, 92%, 0.3);
  border-radius: 0.375rem;
  cursor: pointer;
  padding: 0.938rem 1rem 0.938rem 0.875rem;
  position: relative;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item {
    border-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    padding: 1.45rem 1.25rem 1.75rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item .services-box-right-corner {
  bottom: -0.5rem;
  display: none;
  position: absolute;
  right: -0.06rem;
  z-index: 1;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item .services-box-right-corner {
    display: block;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item .services-box-right-corner svg {
  height: 1.875rem;
  vertical-align: middle;
  width: 1.875rem;
}

@media only screen and (min-width: 1024px) {
  .services-we-served .section-grid .section-grid-item .services-box-item .services-box-right-corner svg {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item .services-box-right-corner svg path {
  stroke: hsla(0, 0%, 92%, 0.2);
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item:after {
    background-color: #fff;
    bottom: -1.45rem;
    height: 1.563rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item .services-box-title {
  color: #1a2d5a;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item .services-box-title {
    color: #191d26;
    font-weight: 500;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item .bottom-left-curve,
.services-we-served .section-grid .section-grid-item .services-box-item .bottom-right-curve {
  display: none;
}

@media only screen and (min-width: 991px) {

  .services-we-served .section-grid .section-grid-item .services-box-item .bottom-left-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item .bottom-right-curve {
    bottom: -1.32rem;
    position: absolute;
    z-index: 1;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item .bottom-left-curve svg,
.services-we-served .section-grid .section-grid-item .services-box-item .bottom-right-curve svg {
  vertical-align: middle;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item .bottom-left-curve {
    left: -1.7295rem;
  }

  .services-we-served .section-grid .section-grid-item .services-box-item .bottom-right-curve {
    right: -1.73rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item.active {
  background-color: #fff;
  border-color: #ebebeb;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.938rem 1.375rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item.active {
    padding: 1.45rem 1.25rem 1.75rem;
  }

  .services-we-served .section-grid .section-grid-item .services-box-item.active:after {
    content: "";
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-right-corner {
  display: none;
}

.services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-item-header {
  align-items: flex-start;
}

.services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-item-left {
  align-items: flex-start;
  flex-direction: column;
}

.services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-item-left .services-box-icon {
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-item-left .services-box-icon {
    padding-bottom: 1rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-item-left .services-box-icon>div {
  height: 3.125rem;
  width: 2.813rem;
}

.services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-item-left .services-box-title {
  font-size: 1.25rem;
  line-height: 1.563rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-item-left .services-box-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-down-icon {
  background-color: #e4eaf3;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-down-icon {
    background-color: transparent;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item.active .services-box-down-icon svg {
  transform: rotate(180deg);
}

@media only screen and (min-width: 991px) {

  .services-we-served .section-grid .section-grid-item .services-box-item:first-child.active:after,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(4).active:after,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(7).active:after {
    border-left: 0.063rem solid #ebebeb;
    border-right: 0;
    left: -0.063rem;
    right: 0;
  }

  .services-we-served .section-grid .section-grid-item .services-box-item:first-child.active .bottom-right-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(2).active .bottom-left-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(2).active .bottom-right-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(4).active .bottom-right-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(5).active .bottom-left-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(5).active .bottom-right-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(7).active .bottom-right-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(8).active .bottom-left-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(8).active .bottom-right-curve {
    display: block;
  }

  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(3).active:after,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(6).active:after,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(9).active:after {
    border-left: 0;
    border-right: 0.063rem solid #ebebeb;
    left: 0;
    right: -0.063rem;
  }

  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(3).active .bottom-left-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(6).active .bottom-left-curve,
  .services-we-served .section-grid .section-grid-item .services-box-item:nth-child(9).active .bottom-left-curve {
    display: block;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item-row {
  background-color: #fff;
  border-color: #ebebeb;
  cursor: auto;
  display: none;
  padding-bottom: 1.75rem;
  padding-top: 1.6rem;
  transition: all 0.1s ease;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item-row {
    grid-column: 1/-1;
    padding-top: 1.75rem;
  }

  .services-we-served .section-grid .section-grid-item .services-box-item-row:nth-child(2),
  .services-we-served .section-grid .section-grid-item .services-box-item-row:nth-child(3),
  .services-we-served .section-grid .section-grid-item .services-box-item-row:nth-child(4) {
    grid-row-start: 2;
  }

  .services-we-served .section-grid .section-grid-item .services-box-item-row:nth-child(5),
  .services-we-served .section-grid .section-grid-item .services-box-item-row:nth-child(6),
  .services-we-served .section-grid .section-grid-item .services-box-item-row:nth-child(7) {
    grid-row-start: 3;
  }

  .services-we-served .section-grid .section-grid-item .services-box-item-row:nth-child(10),
  .services-we-served .section-grid .section-grid-item .services-box-item-row:nth-child(8),
  .services-we-served .section-grid .section-grid-item .services-box-item-row:nth-child(9) {
    grid-row-start: 4;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item-row:before {
  border-bottom-color: #ebebeb;
}

.services-we-served .section-grid .section-grid-item .services-box-item-row.show {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: block;
  margin-top: -0.438rem;
  padding: 1.4rem 1.375rem 2.75rem;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-item-row.show {
    border-radius: 0.375rem;
    border-bottom-left-radius: 1.25rem;
    border-top: 0.063rem solid #ebebeb;
    margin-top: 0;
    padding: 0px 24px;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-item-row.show:before {
  background-color: #fff;
}

.services-we-served .section-grid .section-grid-item .services-box-item-row .services-box-right-corner svg path {
  stroke: #ebebeb;
}

.services-we-served .section-grid .section-grid-item .services-box-list-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3.125rem 2rem;
  /* margin-bottom: 0; */
  margin: 0 !important;
  list-style: none !important;
}

@media only screen and (min-width: 768px) {
  .services-we-served .section-grid .section-grid-item .services-box-list-nav {
    flex-direction: row;
    gap: 0px 2rem;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1440px) {
  .services-we-served .section-grid .section-grid-item .services-box-list-nav {
    /* gap: 1.563rem 3.75rem; */
    gap: 0px 3.75rem;
  }
}

@media (max-width: 450px) {
  .services-we-served .section-grid .section-grid-item .services-box-item .services-box-title {
    font-size: 16px;
    width: 200px;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-list-nav>li {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  position: relative;
}

.services-we-served .section-grid .section-grid-item .services-box-list-nav>li:before {
  content: none;
}

.services-we-served .section-grid .section-grid-item .services-box-list-nav>li:after {
  background-color: hsla(0, 0%, 85%, 0.3);
  bottom: -1.563rem;
  content: "";
  height: 0.063rem;
  left: 0;
  margin-top: -0.625rem;
  position: absolute;
  right: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .services-we-served .section-grid .section-grid-item .services-box-list-nav>li:after {
    background-color: #d9d9d9;
    bottom: auto;
    height: 1.25rem;
    left: auto;
    right: -1rem;
    top: 50%;
    width: 0.125rem;
  }
}

@media only screen and (min-width: 1440px) {
  .services-we-served .section-grid .section-grid-item .services-box-list-nav>li:after {
    right: -1.813rem;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-list-nav>li h4 {
  font-size: 14px;
  line-height: normal;
  margin: 15px 0px;
  letter-spacing: 0 !important;
}

.services-we-served .section-grid .section-grid-item .services-box-list-nav>li a {
  color: #0c61ff;
  font-weight: 500;
}

@media only screen and (min-width: 991px) {
  .services-we-served .section-grid .section-grid-item .services-box-list-nav>li a {
    display: block;
  }
}

.services-we-served .section-grid .section-grid-item .services-box-list-nav>li:last-child:after {
  content: none;
}

.search-btn {
  border-radius: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  margin: 25px 0px 0px 0px;
  font-size: 19px;
  font-weight: 400;
  background: #0066ff;
  color: #ffffff;
  border: 1px solid #003399;
  text-decoration: none;
  cursor: pointer;
}

.search-btn {
  border: 1px solid #0c61ff;
}

.search-btn:hover {
  background-color: transparent;
  border: 1px solid #0c61ff;
  color: #0c61ff;
}

.bg-white {
  background-color: white !important;
}

.rotate180 {
  transform: rotate(180deg);
}

.title {
  margin-bottom: 25px;
}

@media screen and (max-width: 576px) {

  /* .container1{
      padding: 0px 1.25rem !important;
    } */
  .services-we-served .section-grid .section-grid-item .services-box-list-nav>li h4 {
    font-size: 13px;
    line-height: normal;
    margin: 0px;
    letter-spacing: 0;
  }

  .search-btn {
    font-size: 14px;
    padding: 12px 20px;
  }
}

#visionBtnDiv {
  width: 85% !important;
}

@media screen and (max-width: 600px) {

  /* .services-we-served .container1{
      padding: 0px 1.25rem !important;
    } */
  #visionBtnDiv {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .services-we-served {
    padding: 0rem 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container1>.title>h3 {
    text-align: center;
  }
}

.service-box-icon-img {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

.services-box-inner-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
}

.inner-img-parent-div {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
}

.vision-side-inner-img {
  max-width: 100%;
  display: block;
  margin: 0;
  border: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .services-we-served {
    padding: 40px 30px;
  }
}

@media (max-width: 375px) {
  .services-we-served .section-grid .section-grid-item .services-box-item .services-box-title {
    font-size: 16px;
    width: 150px;
  }
}