.new-banner-container {
    width: 100%;
    /* height: 100vh; */
    background: url('/new-banner-bg.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 20px;
}

.inner-new-banner-container {
    max-width: 1200px;
    width: 95%;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.new-banner-left,
.new-banner-right {
    width: 50%;
}

.sm-banner-heading {
    /* color: #504ee4; */
    font-weight: 600;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem !important;
    color: #0c61ff;
}

.new-banner-heading {
    color: #0e0d59;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1.08px;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    line-height: 1.08;
    /* color: #0c61ff; */
}

.new-banner-para {
    color: #3b3a76;
    font-size: 1.05rem;
    margin-bottom: 2rem;
    text-transform: none !important;
    font-weight: 400;
    letter-spacing: normal !important;
    margin-top: 20px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.new-banner-btn {
    padding: 12px 23.333px;
    border-radius: 4.667px;
    /* background: #504ee4; */
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 0.327px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
}

.colored {
    background: #0c61ff;
    border: 1px solid #0c61ff;
}

.colored:hover{
    color: #0c61ff;
    border: 1px solid #0c61ff;
    background: transparent;
}

.transparent {
    background-color:transparent ;
    color: black;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.transparent:hover{
    background-color: #0c61ff;
    color: white;
    border: 1px solid #0c61ff;
}

.new-banner-scroll-img {
    width: 90% !important;
}


.new-banner-right-slider {
    width: 80%;
    margin-left: 3rem;
    position: relative;
}

.floatingIcon1,
.floatingIcon2,
.floatingIcon3 {
    position: absolute;
    animation-duration: 4s; 
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 110px;
}

.floatingIcon1 {
    top: 142px;
    left: -52px;
    animation-name: floating1;
}

.floatingIcon2 {
    top: 0;
    left: -65px;
    animation-name: floating2;
}

.floatingIcon3 {
    top: 46px;
    right: -60px;
    animation-name: floating3;
}

@keyframes floating1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes floating2 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes floating3 {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-5px) translateX(-5px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    display: none !important;
}

@media screen and (max-width:900px){
    .new-banner-container{
        padding: 4rem 5px;
    }
    .inner-new-banner-container {
        flex-direction: column;
        gap: 50px;
    }

    .new-banner-left,.new-banner-right {
        width: 90%;
    }
}

@media screen and (max-width:600px){
    .inner-new-banner-container{
        width: 100%;
        margin: 0px;
    }
    .sm-banner-heading {
        font-size: 0.8rem;
    }
    .new-banner-heading {
        font-size: 2.3rem;
    }
    .new-banner-para {
        font-size: 1rem;
    }
    .new-banner-btn {
        padding: 9px 16px;
        font-size: 0.8rem;
    }
}