
/* NEXT JS ADDED  */
.branchswipe,
.branchswipe2,
.mySwiper32 {
  height: 100%;
  width: 100%
}

.swiplidebtn p,
.swiplidebtn span {
  font-weight: 500;
  font-family: sf-ui-display-medium, sans-serif
}

.rotatesvg svg,
.swiper-button-next2 svg {
  transform: rotate(180deg)
}

.mySwiper32 {
  transform: translateY(-50%) translateX(50px)
}

.h2swipcont {
  max-width: 1450px;
  margin: 0 auto
}

.branchswipe2 {
  padding: 0 40px
}

.brandswipe {
  width: 100%;
  height: 127px !important
}

.h2swiperwrap {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  background-color: rgba(11, 86, 228, .05);
  max-width: 100%;
  margin: 0 auto
}

.mySwiper {
  min-height: 480px
}

.singswiperdiv {
  width: 340px;
  height: 340px;
  position: relative
}

.splide2 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 18px
}

.sbanderiamges {
  max-width: 286px;
  width: 100%
}

.brandswicont,
.swipebtns32 {
  max-width: 1550px;
  margin: 0 auto
}

.sbanderiamges img {
  width: 100%
}

.swiplidebtn {
  position: absolute;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start !important;
  gap: 6px;
  left: 20px;
  justify-content: flex-start !important
}

.insidebtns,
.swiplidebtn span {
  align-items: center;
  display: flex
}

.insidebtns {
  gap: 6px
}

.swiplidebtn span {
  width: fit-content;
  height: 20px;
  border-radius: 10px;
  background: #fff;
  padding: 0 14px;
  font-size: 10px;
  justify-content: center
}

.swiplidebtn p {
  font-size: 20px;
  line-height: 38px;
  color: #fff
}

.singswiperdiv img {
  width: 340px;
  height: 340px;
  position: absolute;
  bottom: 0
}

.swipebtns32 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
  transform: translateY(-140px) translateX(-50px)
}

.h2braswiperwrap {
  background: #282626;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center
}

.viewworkbtns {
  width: 180px;
  height: 52px;
  border-radius: 32px;
  background: #fff
}

.viewworkbtns:hover {
  border: 1px solid #fff;
  background: 0 0
}

.h2braswiperwrap h3 {
  font-family: sf-ui-display-medium, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  color: #fff
}

.testiTopDetails .tettopleft p:first-child,
.testiTopDetails .tettopleft p:nth-child(2),
.viewworkbtns span {
  color: #000;
  font-family: sf-ui-display-medium, sans-serif
}

.viewworkbtns span {
  font-size: 16px;
  font-weight: 500;
  text-align: center
}

.viewworkbtns:hover span {
  color: #fff
}

.h2testimonialwrap {
  width: 100%;
  position: relative;
  background: #f6f5f4;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 40px
}

.testiTopDetails {
  display: flex;
  justify-content: space-between;
  max-width: 1720px;
  width: 100%;
  align-items: flex-start;
  padding: 0 60px;
  gap: 30px;
  margin: 0 auto
}

.testiTopDetails .tettopleft {
  display: flex;
  flex-direction: column
}

.testiTopDetails .tettopleft p:first-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left
}

.testiTopDetails .tettopleft p:nth-child(2) {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  max-width: 450px
}

.testright {
  display: flex;
  align-items: center;
  gap: 30px
}

.testswipsingle {
  width: 98% !important;
  height: 340px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  background: #fff
}

.testswipsingle img {
  width: 120px;
  height: 18px
}

.reviewsss {
  font-family: sf-ui-display-medium, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #222
}

.projectre,
.reviewname {
  font-family: sf-ui-display-medium, sans-serif;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: #222
}

.reviewname {
  font-weight: 600
}

.projectre {
  font-weight: 500
}

.roudned,
.swiper-button-next2,
.swiper-button-prev2 {
  width: 44px;
  height: 44px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color .3s
}

.roudned svg,
.swiper-button-next2 svg,
.swiper-button-prev2 svg {
  width: 14px;
  height: 14px;
  transition: stroke .3s;
  border: none
}

.home2Leftarrow,
.home2rightarrow {
  font-size: 40px;
  transition: .4s;
  color: #000
}

.roudned svg path,
.swiper-button-next2 svg path,
.swiper-button-prev2 svg path {
  stroke: #0E151D
}

.roudned:hover,
.swiper-button-next2:hover,
.swiper-button-prev2:hover {
  border-color: #1063ff
}

.roudned:hover svg path,
.swiper-button-next2:hover svg path,
.swiper-button-prev2:hover svg path {
  stroke: #1063ff !important
}

.home2Leftarrow {
  font-weight: 300 !important
}

.home2Leftarrow:hover,
.home2rightarrow:hover {
  color: #1063ff
}

@media (max-width:1250px) {
  .singswiperdiv {
    width: 400px;
    height: 400px;
    min-height: 0
  }

  .brandswipe {
    height: 107px !important
  }

  .mySwiper32 {
    width: 100%;
    transform: translateY(-50%) translateX(20px)
  }

  .swiplidebtn {
    bottom: 44px
  }

  .insidebtns p,
  .swiplidebtn p {
    font-size: 18px
  }
}

@media (max-width:1150px) {
  .testswipsingle img {
    width: 100px
  }

  .projectre,
  .reviewname,
  .reviewsss {
    font-size: 14px
  }
}

@media (max-width:1090px) {
  .brandswipe {
    height: 97px !important
  }
}

@media (max-width:810px) {
  .testiTopDetails .tettopleft p:first-child {
    font-size: 20px
  }

  .testiTopDetails .tettopleft p:nth-child(2) {
    font-size: 30px
  }

  .swiplidebtn {
    bottom: 20px
  }

  .brandswipe {
    height: 77px !important
  }
}

@media (max-width:750px) {
  .singswiperdiv {
    width: 280px;
    height: 280px
  }

  .swipebtns32 {
    transform: translateY(-100px) translateX(-40px)
  }

  .h2swiperwrap {
    max-height: 250px
  }
}

@media (max-width:700px) {
  .brandswipe {
    height: 57px !important
  }
}

@media (max-width:600px) {
  .swiplidebtn {
    align-items: flex-start !important;
    bottom: 6px;
    gap: 4px
  }

  .singswiperdiv {
    width: 260px;
    height: 260px
  }

  .testswipsingle {
    max-width: 500px;
    width: 100%;
    height: fit-content
  }

  .swipebtns32 {
    transform: translateY(-70px) translateX(-40px);
    margin-bottom: 30px
  }

  .brandswipe {
    height: 47px !important
  }

  .insidebtns span {
    font-size: 8px
  }

  .swiplidebtn p {
    font-size: 10px
  }

  .insidebtns p {
    font-size: 18px
  }

  .h2braswiperwrap h3 {
    font-size: 32px;
    line-height: 42px
  }

  .viewworkbtns {
    width: 180px;
    height: 50px
  }

  .reviewsss,
  .viewworkbtns span {
    font-size: 16px;
    line-height: 26px
  }

  .testiTopDetails .tettopleft p:first-child {
    font-size: 18px;
    line-height: 28px
  }

  .testiTopDetails .tettopleft p:nth-child(2) {
    font-size: 30px;
    line-height: 40px
  }

  .projectre,
  .reviewname {
    font-size: 14px
  }
}

@media (max-width:550px) {
  .testright {
    transform: translateX(-20px)
  }
  .testiTopDetails{
    padding: 0px 20px;
  }

  .testiTopDetails .tettopleft p:first-child {
    font-size: 16px
  }

  .testiTopDetails .tettopleft p:nth-child(2) {
    font-size: 22px
  }

  .singswiperdiv {
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px
  }

  .swipebtns32 {
    transform: translateY(-20px) translateX(-40px);
    margin-bottom: 30px
  }

  .sec3cont {
    padding: 40px 20px !important
  }

  .mySwiper32 {
    transform: translateY(-30%) translateX(0)
  }

  .brandswipe {
    height: 84px !important
  }

  .viewworkbtns {
    width: 140px;
    height: 42px
  }

  .viewworkbtns span {
    font-size: 12px
  }

  .h2braswiperwrap h3 {
    font-size: 24px;
    line-height: 34px
  }

  .testswipsingle {
    max-width: 90vw;
    width: 100%;
    height: 64vh !important;
  }

  .roudned {
    width: 30px;
    height: 30px
  }

  .h2swiperwrap {
    max-height: 220px
  }
}

@media (max-width:440px) {
  .singswiperdiv {
    width: 200px;
    height: 200px
  }
}

