*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scroll-section-wrapper {
    overflow-x: hidden;
    position: relative;
    padding-top: 60px;
    background: linear-gradient(280deg, #ecf5fd, #f0f3fb 62.02%, #f9f9f4);
    /* min-height: 100vh; */
    max-width: 1720px;
    margin: auto;
    overflow: hidden;
    height: max-content;
}


.scrolled-section > svg{
    width: 205vw !important;
}

.pin-spacer {
    padding: 20px 60px !important;
}

.scroll-section-heading, .scroll-section-para {
    text-align: center;
}

.scroll-section-heading {
    font-size: 3.2rem;
    font-weight: 600;
    /* color: #083792; */
}

.scroll-section-para {
    font-size: 1.3rem;
    margin: 20px 0px 40px 0px;
    /* color: #083792; */
}

.scroll-container {
    display: flex;
    align-items:baseline !important;
    gap: 30px;
    width: 200vw;
    min-height: 90vh;
    position: relative;
    padding: 50px 0px 0px 0px;
    overflow: hidden;
}

.scrolled-section {
    width: 40vw;
}
/* 
.scroll-container {
    top: 92px;
} */

/* .scrollx {
    top: 92px;
} */

@media screen and (max-width:600px){
    .scroll-container {
        width: 650vw;
    }
    
    /* .scrolled-section {
        width: 90vw;
    }

    .scrolled-section {
        transform: translate(0px, -100px);
    } */
}

.scroll-card-img {
    margin-bottom: 20px;
}

.scroll-card-heading {
    font-size: 1.6rem;
    font-weight: 500;
    /* color: #083792; */
}

.scroll-card-para {
    font-size: 1.2rem;
    margin: 20px 0px;
    /* color: #083792; */
}

.scroll-card-li-heading {
    font-size: 1.3rem;
    margin-bottom: 20px;
    /* color: #083792; */
}

.scroll-card-ul {
    list-style: none;
    /* color: #083792; */
}

.scroll-card-ul > li {
    font-size: 1.1rem;
    margin: 5px 0px;
}

.scrolled-section > svg {
        width: 540%;
        height: auto;
        margin-bottom: 20px;
        height: 30px;
}

.scroll-card-li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scroll-card-li-icon {
    font-size: 24px;
}

/* @media only screen and (max-width:600px){
    .scroll-section-wrapper{
        padding: 0px 20px;
        padding-top: 50px;
    }
    .scroll-section-heading{
        font-size: 2rem;
    }
} */

.mobile-scroll-section {
    display: none;
}

@media screen and (max-width: 768px) {

    .scroll-section-wrapper {
        padding: 70px 15px 0px;
    }

    .scroll-container {
        display: none;
    }

    .scroll-section-para {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 20px 0px 0px 0px;
    }

    .scroll-section-heading {
        font-size: 2.4rem;
    }

    .mobile-scroll-section {
        display: block;
        padding: 60px 10px 35px;
    }

    .scrolled-section {
        width: 90%;
        margin: auto;
    }

    .scroll-card-para {
        font-size: 1rem;
    }

    .scroll-card-ul > li {
        font-size: 1rem;
        margin: 5px 0px;
    }
    
}

.counter {
    display: block;
    color: rgba(255, 255, 255, 0.05); 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
}

@media (min-width: 768px) and (max-width: 992px){
    .scroll-section-wrapper {
        padding: 70px 15px 0px;
    }

    .scroll-container {
        display: none;
    }

    .scroll-section-para {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 20px 0px 0px 0px;
    }

    .scroll-section-heading {
        font-size: 2.4rem;
    }

    .mobile-scroll-section {
        display: block;
        padding: 60px 10px 35px;
    }

    .scrolled-section {
        width: 90%;
        margin: auto;
    }

    .scroll-card-para {
        font-size: 1rem;
    }

    .scroll-card-ul > li {
        font-size: 1rem;
        margin: 5px 0px;
    }
}