.overlay-black{
       height: 100%;
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay-black h1{
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.gurgaon-hero-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('https://res.cloudinary.com/dxlykgx6w/image/upload/v1755592603/Greaternoidawestcommercialprojects_1_wvcjvx.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
    max-width: 1720px;
  margin: 0 auto;
}
