@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}
.mainBloContentPa ol,
ul {
  list-style: auto;
  margin-left: 30px;
  font-size: 16px;
  padding: 13px 3px;
  line-height: 2rem;
}
.mainBloContentPa h3 + ul {
  list-style: disc !important;
  padding: 13px 3px;
  line-height: 2rem;
  font-size: 16px !important;
}
.mainBloContentPa h2 + p + h3 ~ ul {
  list-style: auto !important;
  padding: 13px 3px;
  line-height: 2rem;
  font-size: 16px !important;
}
/* .mainBloContentPa ul li .MsoNormal::marker {
  list-style: auto;
} */
/* .mainBloContentPa ul li {
  list-style: auto;
} */
/* ul .MsoNormal {
  list-style: disc;
} */
/* .mainBloContentPa li .MsoNormal {
  list-style-type: auto !important;
  display: list-item !important;
  margin-left: 1rem;
  padding-left: 0.3rem;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  margin: none !important;
  padding: none !important;
} */

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

th,
td {
  border: 1px solid #ccc;
  padding: 16px;
  text-align: left;
  vertical-align: top;
}

thead th {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

tbody td {
  font-size: 14px;
  color: #333;
}

tbody tr:hover {
  background-color: #f2f2f2;
  transition: background-color 0.2s ease-in-out;
}

h4,
p {
  margin: 0;
  /* font-size: 14px; */
}
@media (max-width: 425px) {
  td {
    padding: 2px;
  }
  td p span {
    font-size: 14px;
    line-height: 0.8rem;
  }
}

.mainBloContentPa p {
  padding: 8px 2px;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: none !important;
  font-size: 16px;
}

.MainBloggSeCh3 {
  margin-top: 160px !important;
  line-height: 60px !important;
  font-size: 43.5px !important;
  font-weight: 800 !important;
  font-family: "Poppins", sans-serif !important;
  max-width: 1350px;
  margin: auto;
}

.mainBloContentPa h1,
h1[dir="ltr"] {
  /* all: unset; */
  font-size: 2rem !important;
  font-weight: 600 !important;
  padding: 10px 0px 10px 0px !important;
}
.mainBloContentPa h2,
h2[dir="ltr"] {
  font-size: 1.7rem !important;
  font-weight: 500 !important;
  padding: 10px 0px 10px 0px !important;
}

.mainBloContentPa h3,
h3[dir="ltr"] {
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  padding: 10px 0px 10px 0px !important;
}

.mainBloContentPa h4,
h4[dir="ltr"] {
  letter-spacing: 0rem !important;
}

.mainBloContentPa h1 span {
  font-size: 2.4rem !important;
}
.mainBloContentPa li > p {
  margin: 0;
}

@media (max-width: 1024px) {
  .MainBloggSeCh3 {
    font-size: 2.5rem !important;
    padding-bottom: 20px;
    width: 100%;
    line-height: 50px !important;
  }
}

@media (max-width: 768px) {
  .MainBloggSeCh3 {
    line-height: 30px !important;
    font-size: 1.5rem !important;
    margin: 60px auto 20px auto;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .MainBloggSeCh3 {
    font-size: 1.3rem !important;
    text-align: center !important;
    margin-top: 130px !important;
  }
  h1 span {
    font-size: 2rem !important;
  }
}

@media (max-width: 768px) {
  .mainBloContentPa h1,
  h1[dir="ltr"] {
    font-size: 2rem !important;
  }

  .mainBloContentPa h2,
  h2[dir="ltr"] {
    font-size: 1.5rem !important;
  }

  .mainBloContentPa h3,
  h3[dir="ltr"] {
    font-size: 1.1rem !important;
  }
  .mainBloContentPa h1 span {
    font-size: 2rem !important;
  }
}

@media (max-width: 480px) {
  .mainBloContentPa h1,
  h1[dir="ltr"] {
    font-size: 1.6rem !important;
  }

  .mainBloContentPa h2,
  h2[dir="ltr"] {
    font-size: 1.3rem !important;
  }

  .mainBloContentPa h3,
  h3[dir="ltr"] {
    font-size: 1rem !important;
  }
  .mainBloContentPa h1 span {
    font-size: 1.5rem !important;
  }
}

.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f1f1f1;
  overflow: hidden;
  padding: 10px;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;

  cursor: pointer;
  position: relative;
  font-weight: bold;
  margin: 0 !important;
}

.accordion-header:after {
  content: "+";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-header.active:after {
  content: "-";
}

.accordion-content {
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.accordion-content > p:first-child {
  margin-top: 0;
}

.accordion-content > p:last-child {
  margin-bottom: 0;
}

.accordion-content {
  transition: all 0.3s ease;
  overflow: hidden;
}
