.hero-bigCom{
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://res.cloudinary.com/dxlykgx6w/image/upload/v1752564230/9a580728346bd71ef708ac60980619cd78c2f51d_p7taco.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
    max-width: 1720px;
  margin: 0 auto;
}

.overlay-black {
  height: 100%;
  /* opacity: 0.8;
    background: #000; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay-black h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
.btn-service {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}
.btn-service-ec {
  background: #0b56e4;
  padding: 17px 42px;
  color: white;
  border: 2px solid #0b56e4;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
}
.btn-service-ec:hover {
  background-color: white;
  color: #0b56e4;
  border: 2px solid #0b56e4;
  transition: all 0.5s;
}
.btn-service-ec1 {
  background-color: white;
  padding: 17px 42px;
  color: #0b56e4;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #0b56e4;
}

.btn-service-ec1:hover {
  background-color: #0b56e4;
  color: white;
  border: 2px solid #0b56e4;
  transition: all 0.5s;
}
@media screen and (max-width: 425px) {
  .btn-service {
    flex-direction: column;
  }
}
