*{
    box-sizing: border-box;
    font-family: Poppins,'sans-serif';
}
.ResultBccom {
    max-width: 1740px;
    padding: 40px 50px 0px 50px;
    margin: auto;
}
    .features-containerbbcom{
        /* gap: 50px; */
    }

/* Layout Adjustments for Large Screens */
@media (min-width: 1024px) {
    .bigcommerce-section {
        flex-direction: row;
        justify-content: space-between;
    }
}

.text-contentBccom {
    max-width: 50%;
}

.subtitleBccom {
    font-weight: 500;
    font-size: 15px;
    color: black;
}



.titlebccom{
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 0.5rem;
    letter-spacing: 1px;
    width: 79%;
    line-height: 45px;
    font-size: 2.5rem;
    display: block;
    font-weight: 500;
    margin-top: 0.5rem;
}

.descriptionbbcom {
    color: black;
    margin-top: 1rem;
    width: 82%;
}

.features-containerbbcom {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start !important;
    margin-top: 2rem;
}

@media (min-width: 1024px) {
    .features-containerbbcom {
        flex-direction: row;
      
    }
    .feature-imagebbcom {
        margin: auto !important;
        height: auto;
    }
    

}

/* Image Container with Same Width for Both Images */
.image-containerbbcom {
    height: auto;
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    position: relative;
    left: 0;
    /* margin: 0 auto; */
    z-index: 3;
    justify-content: center;
    border-radius: 1rem;
    /* margin-left: -40px; */
    margin-right: -60px;
}

.feature-imagebbcom {
    width: 100%;
    height: 465px;
    object-fit: cover;
}

.features-gridbbcom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 !important;
    background-color: #eff0f1;
    position: relative;
    top: -60px;
    border-radius: 10px;
    height: 580px;
    border: 1px solid aliceblue !important;
    width: 45%;
    padding: 60px 60px 30px 60px;
    margin: 0 auto;
}

.feature-itembbcom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center !important;
}

/* .iconbbcom {
    font-size: 2rem;
}; */

.iconbbcom > img {
    height: 55px;
    width: 40px;
}

.ndbbcom {
    margin-top: 18px;
}

.feature-itembbcom > p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
@media (max-width:769px){
    .text-contentBccom{
        width: 100%;
        max-width: 100%;
        /* padding: 20px; */
    }
    .ResultBccom{
    
        padding: 0px 30px 20px !important;
    }
    .subtitleBccom{
        text-align: center;
    }
    .titlebccom{
        width: 100%;
        text-align: center;
        font-size: 26px;
        /* line-height: 26px; */
    }
    .features-gridbbcom{
        position: initial;
        width: 100%;
        padding: 5px;
    }
    .descriptionbbcom{
text-align: center;
width: 100% !important;



    }
    .feature-imagebbcom {
        height: auto;
    }
    .image-containerbbcom {
        margin-right: 0px;
    }
}
@media (max-width:450px){
#feature-itembbUnique {
padding-top: 4px;
    }
    .text-contentBccom{
        width: 100%;
        max-width: 100%;
        /* padding: 20px 20px; */
    }
    .ResultBccom{
        padding: 10px;
    }
    .subtitleBccom{
        text-align: center;
    }
    .titlebccom{
        width: 100%;
        text-align: center;
        font-size: 21px;
    }
    .features-gridbbcom{
        position: initial;
        width: 100%;
        padding: 5px;
    }
    .descriptionbbcom{
text-align: center;
width: 100% !important;
font-size: 14px;
padding: 5px;

    }
    .feature-itembbcom p{
        font-size: 14px;
    }
}

@media(max-width:450px){
    .features-containerbbcom{
        gap: 20px !important;
    }
    .image-containerbbcom {
        margin-right: 0px;
    }

    .feature-imagebbcom {
        /* width: 85%; */
        margin: auto;
        height: auto;
    }
}