@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.shopi-progress-outer-container {
    max-width: 1720px;
    margin: 0px auto;
    font-family: "Poppins", sans-serif;
    color: #000;
}

.shopi-progress-inner-container {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}

.progresss-heading {
    color: #000;
    font-size: 2.3rem;
    font-weight: 500;
}

.progress-sm-heading {
    /* padding:16px 0px 0px 0px; */
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 15px;
    max-width: 76% !important;
    text-align: center !important;
}


#switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

#switchLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 150px;
    height: 80px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

#switchLabel:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

#switch:checked+#switchLabel {
    background: #12b76a;
}

#switch:checked+#switchLabel:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}


.progress-toggle-btn-div {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.progress-company-name {
    font-size: 3.5rem;
    letter-spacing: 0px !important;
    font-weight: 600;
}

.shopi-procBCom {
    font-size: 11px;
    font-weight: 600px !important;
}

#shopi-phase1 {
    width: 100px;
}

#shopi-phase2 {
    width: 132px;
}

#shopi-phase3 {
    width: 50px;
}

#shopi-phase4 {
    width: 50px;
}

#shopi-phase5 {
    width: 109px;
}

#shopi-phase6 {
    width: 339px;
}

#shopi-phase7 {
    width: 210px;
}

#shopi-phase8 {
    width: 50px;
}

#shopi-phase9 {
    width: 50px;
}

#shopi-phase10 {
    width: 200px;
}

#shopi-phase11 {
    width: 50px;
}

@keyframes fillAnimation {
    0% {
        background-position: right bottom;
    }

    100% {
        background-position: left bottom;
    }
}

.shopi-process-button {
    border: 1px solid #12b76a;
    border-radius: 50px;
    height: 25px;
    display: block;
    background: linear-gradient(to right, #12b76a 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    animation: fillAnimation 1.4s ease-out forwards;
    opacity: 0;
}

#shopi-phase1 {
    animation-delay: 0.2s;
    opacity: 1;
}

#shopi-phase2 {
    animation-delay: 1.3s;
    opacity: 1;
}

#shopi-phase3 {
    animation-delay: 2.4s;
    opacity: 1;
}

#shopi-phase4 {
    animation-delay: 3s;
    opacity: 1;
}

#shopi-phase5 {
    animation-delay: 4s;
    opacity: 1;
}

#shopi-phase6 {
    animation-delay: 5.2s;
    opacity: 1;
}

#shopi-phase7 {
    animation-delay: 6.3s;
    opacity: 1;
}

#shopi-phase8 {
    animation-delay: 7.3s;
    opacity: 1;
}

#phase9 {
    animation-delay: 8.2s;
    opacity: 1;
}

#shopi-phase10 {
    animation-delay: 9.2s;
    opacity: 1;
}

#shopi-phase11 {
    animation-delay: 10.4s;
    opacity: 1;
}

.shopi-phases-wrapper {
    width: 100%;
    min-height: 450px;
    overflow-x: auto;
    margin: 0 auto;
}

.shopi-phases {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    height: 400px;
    padding: 0px 5px;
    width: 1150px;
    margin: auto;
    margin-top: 70px !important;
    white-space: nowrap;
}


#shopi-phase1::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #c4e5d1;
    height: 105px;
    position: absolute;
    left: -1px;
    bottom: 96px;
}

#shopi-phase1Name {
    position: absolute;
    bottom: 55px;
    left: -6px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase2::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #c4e5d1;
    height: 162px;
    position: absolute;
    left: 111px;
    bottom: 44px;
}

.shopi-procBCom {
    font-weight: 600 !important;
}

#shopi-phase2Name {
    position: absolute;
    bottom: 20px;
    left: 115px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase3Name {
    position: absolute;
    top: -21px;
    left: 41px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase3::after {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #c4e5d1;
    height: 369px;
    position: absolute;
    left: 255px;
    top: 8px;

}

#shopi-phase4Name {
    position: absolute;
    bottom: 19px;
    left: 263px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase5Name {
    position: absolute;
    top: 58px;
    left: 322px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase5::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #c4e5d1;
    height: 141px;
    position: absolute;
    left: 316px;
    top: 64px;
}

#shopi-phase5::after {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #c4e5d1;
    height: 196px;
    position: absolute;
    left: 499px;
    top: 8px;
}




#shopi-phase6Name {
    position: absolute;
    top: 0px;
    left: 506px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase7Name {
    position: absolute;
    top: 31px;
    right: 177px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    animation: textAnimation 0.5s ease-in-out forwards;
}


#shopi-phase7::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #c4e5d1;
    height: 167px;
    position: absolute;
    right: 310px;
    top: 35px;
}

#shopi-phase8Name {
    position: absolute;
    top: -7px;
    right: -28px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase8::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #c4e5d1;
    height: 207px;
    position: absolute;
    right: 89px;
    top: -2px;
}

.sprogresss-sm-heading-primary-heading {
    font-size: 2.6rem !important;
    font-weight: 600 !important;
    line-height: 2.2rem !important;
}


/* #shopi-phase8Name {
        position: absolute;
        top: 0px;
        right: -56px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        animation: textAnimation 0.5s ease-in-out forwards;
    }

    #shopi-phase8::after {
        content: "";
        display: inline-block;
        width: 1px;
        background-color: #c4e5d1;
        height: 384px;
        position: absolute;
        right: 88px;
        top: 7px;
    } */

#phase9Name {
    position: absolute;
    bottom: 8px;
    right: 86px;
    opacity: 0;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase10Name {
    position: absolute;
    top: 53px;
    right: 114px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase10::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #c4e5d1;
    height: 138px;
    position: absolute;
    right: 219px;
    top: 64px;
}

#shopi-phase11Name {
    position: absolute;
    top: 0px;
    right: -50px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    animation: textAnimation 0.5s ease-in-out forwards;
}

#shopi-phase11::before {
    content: "";
    display: inline-block;
    width: 1px;
    background-color: #c4e5d1;
    height: 195px;
    position: absolute;
    right: 50px;
    top: 9px;
}

.shopi-phases {
    font-size: 14px;
}

@keyframes textAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#shopi-phase1Name {
    animation-delay: 0.2s;
}

#shopi-phase2Name {
    animation-delay: 1.3s;
}

#shopi-phase3Name {
    animation-delay: 3s
}

#shopi-phase4Name {
    animation-delay: 3s;
}

#shopi-phase5Name {
    animation-delay: 4s;
}

#shopi-phase6Name {
    animation-delay: 5.2s;
}

#shopi-phase7Name {
    animation-delay: 6.3s;
}

#shopi-phase8Name {
    animation-delay: 8.2s;
}

#phase9Name {
    animation-delay: 8.2s;
}

#shopi-phase10Name {
    animation-delay: 9.2s;
}

#shopi-phase11Name {
    animation-delay: 10.4s;
}

.textOpacity {
    color: #c0c0c0;
}

.agile7phase {
    right: 419px !important;
}

.agile8phase {
    right: 136px !important;
}

.agile9phase {
    right: 293px !important;
}

.agile3phase {
    left: 129px !important;
}

.agile10phase {
    right: 126px !important;
}

.agile11phase {
    right: -96px !important;
}

.first-copmpany {
    margin-right: 30px;
}

.second-copmpany {
    margin-left: 30px;
}

@media(max-width:1232px) {
    #shopi-phase1Name {
        left: 2px !important;
    }
}

@media screen and (max-width: 768px) {
    .progress-inner-container {
        align-items: baseline;
    }

    .progress-toggle-btn-div {
        flex-direction: column;
        gap: 6px;
        align-items: baseline;
        margin: auto;
        padding-top: 10px;
    }

    #switchLabel {
        margin: auto;
    }

    .second-copmpany {
        margin-top: 10px;
    }
}


@media screen and (max-width: 600px) {
    .progress-company-name {
        font-weight: 600;
        font-size: 2.9rem;
    }

    .sprogresss-sm-heading-primary-heading {
        text-align: center !important;
        font-size: 23px;
    }

    #switchLabel {
        width: 120px;
        height: 60px;
    }

    #switchLabel:after {
        width: 50px;
        height: 50px;
    }

    .progress-sm-heading {
        max-width: 90% !important;
        text-align: left !important;
    }

    #shopi-phase1Name {
        left: 2px !important;
    }
}

@media(max-width:480px) {
    .sprogresss-sm-heading-primary-heading {
        text-align: center;
        font-size: 21px !important;
        text-align: center !important;
        line-height: 28px !important;
    }

    .shopi-progress-inner-container {
        padding: 30px 22px;
    }
}