/* @import "tailwindcss";
* {
  font-family: 'Poppins', sans-serif;
} */

.engagement-container {
  padding: 1rem;
}
.engagement-card-set {
  min-height: 243px;
}

.engagement-title {
  font-size: 30px;
  max-width: 600px;
  font-weight: bold;
  /* min-width: 100px; */
  margin-bottom: 1.5rem;
  /* text-align: center; */
  margin: auto;
}

.engagement-title h2 {
  text-align: center;
}

/* Flex container for cards */
.engagement-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/* Individual card */
.engagement-card {
  width: 100%;
  max-width: 345px;
  max-height: 380px;
  margin-top: 20px;
  padding: 1rem;
  border: 1px solid #4492dd;
  border-radius: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
  border-bottom: 10px solid #4492dd;
}
.engagement-card-2 {
  width: 100%;
  max-width: 345px;
  padding: 1rem;
  border: 1px solid #3ac164;
  border-radius: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
  border-bottom: 10px solid #3ac164;
}
.engagement-card-3 {
  width: 100%;
  max-width: 345px;
  padding: 1rem;
  border: 1px solid #9f0909;
  border-radius: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
  border-bottom: 10px solid #9f0909;
}

.engagement-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.engagement-card img {
  display: block;
  height: 55px;
  margin: 0 auto 0.75rem auto;
}

.engagement-card h5 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  text-align: center;
}

.engagement-card p {
  min-height: 152px;
  font-size: 20px;
  color: #4b5563;
  margin-bottom: 0.75rem;
  text-align: center;
  line-height: 25px;
}

.engagement-card button {
  display: block;
  margin: 0 auto;
  padding: 0.25rem 0.75rem;
  /* background-color: #2563EB;  */
  color: #0c61ff;
  width: 302px;
  height: 45px;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  border: 1.5px solid #0c61ff;
}

.engagement-card button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* ===== Responsive Breakpoints ===== */

/* Tablets (min-width: 640px) */
@media (min-width: 640px) {
  .engagement-card {
    flex: 0 0 calc(50% - 1rem);
  }
}

/* Desktops (min-width: 1024px) */
@media (max-width: 1024px) {
  .engagement-card {
    flex: 0 0 calc(33.333% - 1rem);
  }
  .engagement-card-3 {
    flex: 0 0 calc(33.333% - 1rem);
    min-width: 335px;
  }
  .engagement-title h2 {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .engagement-card img {
    margin: 5px 0;
  }
  .engagement-card h5 {
    text-align: left;
  }
  .engagement-card p {
    text-align: left;
    font-size: 17px;
  }
  .engagement-title h2 {
    text-align: left;
    font-size: 19px;
  }
}
@media screen and (max-width: 360px) {
  .engagement-card button {
    width: 260px;
  }
}

@media (max-width: 330px) {
  .engagement-card-3 {
    min-width: 290px;
  }
  .engagement-card button {
    width: 255px;
  }
}
