/* Base Section */
.insights-section {
  background-color: #e4ebf7;
  color: #000000;
  padding: 60px 80px;
}

/* Headings */
.main-heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.customsub-heading {
  font-size: 18px;
  color: #000;
  max-width: 1024px;
  margin: 0 auto 20px auto;
  text-align: center;
  padding: 20px 0;
}
 
.insight-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
 
.left-tabs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  min-width: 260px;
}

.tab-btn {
  padding: 15px 20px;
  border: none;
  background-color: #1e2235d9;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.tab-btn.active {
  background-color: #0c61ff;
  color: #fff;
}

.tab-btn:hover {
  background-color: #2979ff;
  color: #fff;
}

/* Content */
.right-content {
  flex: 2;
  min-width: 300px;
}

.content-block {
  margin-bottom: 20px;
}

.content-block h3 {
  font-size: 24px;
  font-weight: 600;
}

.content-block p {
  font-size: 17px;
  line-height: 1.7;
  color: #000000b8;
  font-weight: 500;
  padding-top: 10px;
}

/* Responsive: Tablets */
@media (max-width: 1024px) {
  .insights-section {
    padding: 50px 40px;
  }

  .main-heading {
    font-size: 28px;
  }

  .tab-btn {
    font-size: 16px;
  }

  .content-block h3 {
    font-size: 22px;
  }

  .content-block p {
    font-size: 16px;
  }
}
 
@media (max-width: 768px) {
  .insight-container {
    flex-direction: column;
  }

  .left-tabs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .tab-btn {
    flex: 1 1 45%;
    font-size: 14px;
    padding: 12px;
    text-align: center;
  }

  .right-content {
    padding-top: 20px;
  }

  .main-heading {
    font-size: 24px;
  }

  .customsub-heading {
    font-size: 16px;
  }

  .content-block h3 {
    /* font-size: 20px; */
    text-align: center;
  }

  .content-block p {
    /* font-size: 15px; */
    text-align: center;

  }
}
 
@media (max-width: 480px) {
  .tab-btn {
    flex: 1 1 100%;
    font-size: 13px;
    padding: 10px;
  }

  .main-heading {
    font-size: 22px;
  }

  .customsub-heading {
    font-size: 15px;
    margin: 0;
  }

  .right-content{
    padding: 0;
  }

  .content-block h3 {
    font-size: 20px;
  }

  .content-block p {
    font-size: 15px;
  }

  .insights-section {
    padding: 40px 20px;
  }
}
