body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact-container {
  width: 100%;
  background: linear-gradient(280deg, #89c7fb, #c8d5f9 62.02%, #f9f9f4);
  max-width: 1720px;
  margin: 0 auto;
}

.platforms {
  padding: 50px 50px;
}

.inner-contact-container {
  /* max-width: 1280px; */
  max-width: 1720px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px 60px;
}

.left,
.right {
  flex: 1;
}

.left-contact-heading {
  font-size: 25px;
  width: 580px;
  color: #083792;
  font-weight: 600;

  /* line-height: 5rem */
}

.contact-box {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  margin: 35px 22px 35px 0px;
}

.contact-card {
  background-color: hsla(0, 0%, 100%, .8);
  padding: 8px 15px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 .625rem 1.875rem rgba(27, 118, 254, .102);
  cursor: pointer;
}

.contact-card:hover {
  box-shadow: 0 .625rem 1.875rem rgba(27, 118, 254, .3);
}

.call-us img {
  height: auto;
  width: 31px;

}

#CallusI img {
  height: 30px;
  width: 34px;
}

.phone-icon {
  width: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.us-number {
  color: #1b76fe;
  margin: 10px 0px;
  font-size: 20px;
  font-weight: 600;
}

.country {
  font-weight: 600;
  font-size: 16px;
}

.clients {
  font-weight: 600;
  font-size: 18px;
  position: relative;
  color: #083792;
}

.clients::after {
  background: #b1c8eb;
  content: "";
  height: 2px;
  width: 380px;
  position: absolute;
  top: 12px;
  left: 111px;
}

.company-images {
  margin-top: 1.5rem;
}

.company-images>img {
  width: 430px;
  margin: 10px auto 15px;
  display: block;
}

.right {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contact-heading {
  background-color: #8591aa;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  margin: 0px;
}

.contact-htmlForm {
  padding: 0.1rem 1.8rem 1.5rem;
}

.inputcapt input {
  border-bottom: black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 50px;
}

.contact-first-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 15px;
}

.contact-first-div>div {

  /* width: 100%; */
}

.contact-first-div,
.contact-div {
  margin-bottom: 15px;
}

.contact-label {
  color: #191d26;
  display: inline-block;
  font-size: 18px;
  line-height: 1rem;
  text-transform: capitalize;
  margin-bottom: 12px;
  position: relative;
  font-weight: 500;
  margin-top: 5px;
}

.contact-label::after {
  content: '*';
  color: #ff0000;
  position: absolute;
  top: 1px;
  right: -9px;
}

.contact-input,
.contact-textArea {
  border: 1px solid #ebebeb;
  border-radius: .313rem;
  color: #4e5158;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 1.125rem;
  outline: none;
  padding: 12px;
  transition: all .1sease;
  vertical-align: middle;
  width: 100%;
}

@media (max-width:1275px) {

  .contact-emailInput,
  .contact-textArea {
    width: 100%;
  }

  .contact-input,
  .contact-textArea {
    width: 100%;
  }

  #homePhoneDiv>.react-tel-input {
    width: 100% !important;
  }
}

@media (max-width:1024px) {

  .contact-input,
  .contact-textArea {
    width: 100%;
  }

  .contact-input {
    width: 100%;
  }

  .contact-emailInput,
  .contact-textArea {
    width: 100% !important;
  }

  .contact-htmlForm-btn {
    width: 100%;
  }

}

@media(max-width:768px) {
  .contact-input {
    width: 100%;
  }

  #homePhoneDiv>.react-tel-input {
    width: 100% !important;
  }
}

@media (max-width:410px) {
  .contact-input {
    width: 75%;
  }

  #homePhoneDiv>.react-tel-input {
    width: 75% !important;
  }
}

@media (max-width:372px) {
  #homePhoneDiv>.react-tel-input {
    width: 81% !important;
  }
}

/* @media (max-width:600px) {
  .platforms {
    padding: 40px 20px 40px !important;
  }
} */

.contact-emailInput,
.contact-textArea {
  width: 100%;
}

.contact-htmlForm-btn {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  /* padding: 15px; */
  color: white;
  border: 1px solid #0053ce;
  background: linear-gradient(90deg, #0053ce, #00c2ff 51%, #0053ce) 0 / 200%;
  border-radius: 50px;
}

.contact-textArea {
  min-height: 100px;
}

@media (max-width:769px) {
  .contact-htmlForm-btn {
    width: 100%;
  }

}

.contact-form-btn {
  background: linear-gradient(90deg, #0053ce, #00c2ff 51%, #0053ce) 0 / 200%;
  width: 100%;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 15px;
  font-weight: 600;
  font-size: 16px;
  transition: all .1s ease-in;
}

.contact-form-btn:hover {
  background: linear-gradient(90deg, #0053ce, #00c2ff 51%, #0053ce) 100% / 200%;
}

.captcha-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin: 18px 0px;
}

#captchaQuestion {
  font-weight: 500;
  font-size: 20px;
}

#captchaAnswer {
  border: none;
  border-bottom: 2px solid #000;
  text-align: center;
  width: 40px;
  margin-left: 6px;
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
}

#captchaAnswer:focus {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}

#phone {
  padding-left: 50px !important;
}

.inputcapt {
  font-size: 20px;
}

.captcha-btn {
  background: #087108 !important;
  border: 1px solid #087108;
  font-size: 15px !important;
  color: #ffffff !important;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.captcha-btn:hover {
  background: #065a06;
}


.container {
  min-width: 1400px !important;
}

.iti__country-list {
  width: 200px !important;
}

.iti__country {
  font-size: 13px !important;
  padding: 0px 10px !important;
}

@media screen and (max-width:1000px) {
  .inner-contact-container {

    flex-direction: column;
  }

  .clients::after {
    width: 550px;
  }
}

@media (max-width:450px) {
  #innerIdcont {
    width: 100%;
    padding: 40px 15px 40px 15px;
  }
}

@media screen and (max-width:700px) {
  .clients::after {
    width: 400px;
  }
}

@media screen and (max-width:576px) {
  .clients::after {
    width: 200px;
  }
}

@media screen and (max-width:1300px) {
  .popup-heading {
    font-size: 3.3rem !important;
  }

  .upper-left-content {
    max-width: 325px;
    color: #fff;
    padding-left: 30px;
  }

  .pop-rightForm {
    width: 440px;
  }
}

@media screen and (max-width:1180px) {
  .bottom-modal-box {
    max-width: 280px;
  }

  .upper-left-content {
    max-width: 280px;
  }

  .popup-heading {
    font-size: 3rem !important;
  }

  .popup-sm-heading {
    font-size: 16px;
  }

  .upper-left-content>hr {
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .pop-rightForm {
    width: 400px;
  }
}

@media screen and (max-width:1276px) {
  .contact-box {
    grid-template-columns: 1fr;
  }

  .contact-first-div {
    grid-template-columns: 1fr;
  }

  .left-contact-heading {
    width: 100%;
  }
}

@media screen and (max-width:1030px) {
  .modal-box {
    width: 90%;
    padding: 0px;
  }


  .upper-left-content {
    display: none;
  }

  .upper-modal-box {
    display: none;
  }

  .bottom-modal-box {
    display: none;
  }

  .pop-rightForm {
    position: unset;
    width: auto;
  }

  .popup-companies {
    width: 300px;
  }

  .cross-icon {
    right: -46px;
    top: -48px;
  }

  .contact-container>.container {
    flex-direction: column;
  }

  .right {
    width: 98% !important;
  }

  .contact-container>.container {
    display: block;
  }

  .left {
    width: 95% !important;
    margin: auto;
  }

  .company-images>img {
    width: 270px;
    margin: 11px auto 33px;
    display: inline-block;
  }

  .clients::after {
    width: 168px;
  }

  .contact-box {
    width: 90% !important;
  }

  /* .right {
    width: 90% !important;
  } */

  .contact-heading {
    font-size: 24px !important;
  }

  .left-contact-heading {
    width: unset !important;
    font-size: 32px !important;
    line-height: 41px;
  }

  .modal-box {
    width: 320px !important;
    padding: 0px;
  }

  .upper-modal-box,
  .bottom-modal-box {
    display: none;
  }

  .pop-right-parent-div {
    background: #007BFF;
    padding: 10px;
    border-radius: 10px;
    width: 320px;
  }
}

@media (max-width:1024px) {
  .plt-head , .plt-para {
    width: 100%;
    text-align: left !important;
    margin: 0 0 10px !important;
  }
}

/* card section */
.platforms {
  text-align: center;
  background: linear-gradient(to right, #f8f8f8, #e9f0ff);
  max-width: 1720px;
  margin: 0 auto;
  padding: 50px 50px;
}

@media screen and (max-width:768px) {
  .platforms {
    padding: 30px !important;
  }
}

@media screen and (max-width:600px) {
  .left-contact-heading {
    width: unset !important;
    font-size: 24px !important;
    line-height: 32px;
  }
}

.plt-head {
  margin: auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
  font-weight: 600;
  font-size: 37px;
  /* line-height: 40px; */
  margin-bottom: 30px;
}

@media (max-width:750px) {
  .plt-head {
    font-size: 27px;
    width: 95%;
    margin: 0;
    /* line-height: 30px; */

  }

  .plt-para {
    width: 95%;
  }
}

.plt-para {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #362a2a;
  max-width: 1142px;
  margin: 24px auto 30px;
}

.plt-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.plt-card {
  background: #fff;
  padding: 18px 20px 33px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  border: 2px solid #80808057;
  width: 100%;
  position: relative;
  min-height: 500px;
  /* width: 337px; */
}

.plt-logo {
  display: flex;
  justify-content: center;
  background: #f0f0f0;
  padding: 10px;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 34px;
}

.plt-logo img {
  max-width: 100%;
  height: auto;
}

.plt-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 28px;
}

.plt-ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-top: 13px;
  margin-bottom: 15px;
  margin: 0;
}

.plt-ul .plt-li {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  line-height: 27px;

}

.plt-btn {
  position: absolute;
  left: 25px;
  bottom: 18px;
  color: #0066ff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  /* text-shadow: 0 0 2px rgba(0, 0, 0, 0.4); */
}


.plt-btn:hover {
  text-decoration: none;
}

@media (max-width:1025px) {
  .plt-btn {
    position: initial;
  }
}

/* Card end */

/* cardSec start */
.b2b-section {
  text-align: center;
  max-width: 1720px;
  margin: auto;
  padding: 50px 50px;
  /* padding: 50px; */
}

.b2b-head {
  margin: auto;
  width: 800px;

  text-align: center;
  font-size: 47px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 2rem;
}

.b2b-para,
.b2b-paraa {
  font-size: 17px;
  font-weight: 500;
  color: #362a2a;
  max-width: 1142px;
  margin: 0 auto;
  line-height: 30px;
}

.b2b-paraa {
  text-align: center;
  padding-top: 20px;
  /* margin-bottom: 4rem; */
}

.b2b-headss {
  text-align: center;
  font-size: 27px;
  font-weight: 500;
  padding-top: 20px;
  /* margin: 4rem; */
}

.b2b-headsss {
  font-size: 40px;
  margin-bottom: 45px;
  line-height: 68px;
  font-weight: 500;
}

.b2b-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0px 0px 0px;
  margin: 0 auto; 
}

.left-b2b-cards,
.right-b2b-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}

.right-b2b-cards {
  margin-top: 5rem;
}

.left-b2b-card-2 {
  position: relative;
  background: #fff;
  border: 1px solid #80808045;
  border-radius: 10px;
  text-align: left;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  margin-bottom: 5rem;
}


.left-b2b-card:hover,
.right-b2b-card:hover,
.left-b2b-card-2:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.left-b2b-card:hover .b2b-logo img,
.right-b2b-card:hover .b2b-logo img,
.left-b2b-card-2:hover .b2b-logo img {
  transform: scale(1.03);
}

.left-b2b-card,
.right-b2b-card {
  position: relative;
  background: #fff;
  border: 1px solid #80808045;
  border-radius: 10px;
  text-align: left;
  max-width: 100%;
  width: 100%;
  /* width: 600px; */
  max-width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.left-b2b-card:hover,
.right-b2b-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.b2b-logo {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.b2b-logo img {
  max-width: 100%;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}

.left-b2b-card:hover .b2b-logo img,
.right-b2b-card:hover .b2b-logo img {
  transform: scale(1.03);
}



.b2b-contain {
  margin: 25px 15px;
}

.b2b-btn {
  color: #000000;
  text-decoration: underline;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 30px;
  gap: 15px;
}

.b2b-btn:hover {
  color: #000000;
}

.b2b-btn img {
  width: 45px;
  height: 45px;
}

/* ======== Responsive Adjustments ======== */
@media (max-width: 1200px) {
  .b2b-content {
    flex-direction: column;
    align-items: center;
  }

  .left-b2b-cards,
  .right-b2b-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .right-b2b-cards {
    margin-top: 0;
  }

  .left-b2b-card-2 {
    margin-bottom: 0px;
  }
}

@media (max-width: 992px) {
  .b2b-head {
    width: 100%;
    font-size: 42px;
    /* line-height: 46px; */
  }

  .b2b-headss {
    font-size: 26px;
  }

  .b2b-headsss {
    font-size: 36px;
  }

  .b2b-para,
  .b2b-paraa {
    font-size: 16px;
    line-height: 28px;
    padding: 0 15px;
  }

  .left-b2b-card-2 {
    width: 85% !important;
  }

  .left-b2b-card,
  .right-b2b-card {
    width: 85%;
  }

  .b2b-btn {
    font-size: 18px;
    margin: 25px;
  }

  .b2b-btn img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .b2b-head {
    width: 100%;
    font-size: 36px;
    /* line-height: 42px; */
  }

  .b2b-headss {
    font-size: 24px;
  }

  .b2b-headsss {
    font-size: 32px;
    line-height: normal;
  }

  .b2b-para,
  .b2b-paraa {
    font-size: 15px;
    line-height: 26px;
  }

  .left-b2b-card-2 {
    width: 90% !important;
    margin-bottom: 0px;
  }

  .left-b2b-card,
  .right-b2b-card {
    width: 90%;
  }

  .b2b-btn {
    font-size: 18px;
    margin: 20px;
  }

  .b2b-btn img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .b2b-section {
    padding: 30px;
  }

  .b2b-paraa {
    padding-top: 20px;
  }
}

@media (max-width: 576px) {
  .b2b-head {
    width: 100%;
    font-size: 32px; 
  }

  .contact-heading {
    font-size: 24px !important;
    font-weight: 500;
  }

  .b2b-section {
    padding: 20px;
  }

  .b2b-headss {
    font-size: 22px;
  }

  .b2b-headsss {
    font-size: 28px;
  }

  .b2b-para,
  .b2b-paraa {
    font-size: 14px;
    line-height: 24px;
  }

  .left-b2b-card-2 {
    width: 95% !important;
    margin-bottom: 0px;
  }

  .left-b2b-card,
  .right-b2b-card {
    width: 95%;
  }

  .b2b-btn {
    font-size: 16px;
    margin: 15px;
  }

  .b2b-btn img {
    width: 30px;
    height: 30px;
  }
}

@media(max-width:508px) {
  .plt-head {
    font-size: 18px;
    /* line-height: 25px; */
  }

  .plt-para {
    width: 100%;
    font-size: 14px;
  }

  .plt-card h3 {
    font-size: 17px;
    line-height: 25px;
  }
}

@media (max-width: 400px) {
  .b2b-head {
    width: 100%;
    font-size: 27px;
    /* line-height: 34px; */
    margin-bottom: 19px !important;
  }

  .b2b-headss {
    font-size: 20px;
    margin-bottom: 2rem;
  }

  .b2b-headsss {
    font-size: 26px;
    text-align: center;
    margin: 21px auto;
  }

  .b2b-para,
  .b2b-paraa {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .b2b-btn {
    font-size: 14px;
    margin-bottom: 22px;
    font-size: 14px;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
  }

  .b2b-btn img {
    width: 25px;
    height: 25px;
  }
}


/* advance section end */

/* HomeFlax start */

/* flag ship */

.flagship-section {
  /* margin-top: 40px !important; */
  text-align: center;
  background: linear-gradient(to right, #f8f8f8, #e9f0ff);
  max-width: 1720px;
  margin: 0 auto;
  /* margin-top: 100px; */
  padding: 50px 50px;
}

/* .flagship {
  padding: 40px;
} */

.flagship-head {
  text-align: center;
  padding: 27px 0px 0px 0px;
  font-size: 41px;
  font-weight: 400;
  /* margin-bottom: 30px; */
}

@media only screen and (max-width:1025px) {
  .flagship-cards {
    flex-wrap: wrap;
  }

  .plt-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width:768px) {
  .flagship-section {
    padding: 30px;
  }

  .inner-contact-container {
    padding: 40px 30px;
  }

  .plt-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

}

@media(max-width:450px) {
  .flagship-section {
    padding: 30px 20px 1px 20px;
    margin-top: 0;
  }

  .flagship-head {
    font-size: 25px;
    line-height: 27px !important;
  }

  .us-number,
  .country {
    text-align: left !important;
  }

  .left-contact-heading {
    font-size: 22px !important;
    line-height: 30px;
  }
}

.flagship-para {
  font-size: 17px;
  font-weight: 500;
  color: #362a2a;
  max-width: 1142px;
  margin: 0 auto 30px;
}

.flagship-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  /* flex-wrap: wrap; */
  margin: 2rem auto;


}

.flagship-card h3 {
  font-size: 23px;
}

.flagship-card {
  position: relative;
  background: #fff;
  padding: 18px 20px 33px;

  border-radius: 10px;
  text-align: left;
  /* border: 2px solid #80808057; */
  /* min-width: 380px; */
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.flagship-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}




.flagship-logo {
  /* background: #f0f0f0; */
  padding: 15px 0;
  text-align: left;
  border-radius: 16px;

}

.flagship-logo img {
  max-width: 100%;
  height: auto;
}

.flagship-card>h3 {
  font-size: 22px;
  margin-bottom: 10px !important;
  line-height: 28px;
  font-weight: 500;
}

.flagship-ul {
  padding-left: 20px;
  margin-bottom: 1rem;
  list-style: square;
  /* flex-grow: 1; */
}

.flagship-ul .flagship-li {
  width: 100%;
  font-size: 17px;
  color: #333;
  /* font-weight: 600; */
  line-height: 30px;
  /* width: 227px; */

}

.flagship-btn {
  color: #000000;
  text-decoration: underline;
  font-size: 20px;
  display: flex;
  text-underline-offset: 5px;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 30px;
  gap: 15px;
}

.flagship-btn img {
  width: 45px;
  height: 45px;
}

/* flag end */

#ans-captch {
  border-bottom: 2px solid black;
  font-size: 1.2rem;
}

#ans-captch:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.swiper-button-prev,
.swiper-button-next {
  width: 35px !important;
  height: 35px !important;
}

.swiper-button-prev::after {
  font-size: 13px !important;
}

.swiper-button-next::after {
  font-size: 13px !important;
}

@media(max-width:1200px) {
  .flagship-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:800px) {
  .flagship-head {
    line-height: 44px;
  }

  .flagship-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:600px) {
  .flagship-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width:340px) {
  .contact-first-div>div {
    width: 88%;
  }

  .down-contact-name-input {
    width: 82%;
  }

  .flagship-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}