.shopify-banner-outer-container {
    background: #f0faff;
}

.shopify-outer-container {
    max-width: 1720px;
    margin: 0px auto;
}

.shopify-inner-container {
    width: 100%;
    padding: 40px 60px;
}

.shopify-banner-heading {
    font-weight: 600;
    font-size: 2.1rem;
    text-align: center;
    max-width: 65%;
    margin: auto
}

.shopify-banner-flex-container {
    display: flex;
    padding: 40px 0px;
}

.shopify-banner-left,
.shopify-banner-right {
    flex: 1;
}

.shopify-banner-left>img {
    width: 75%;
}

.shopify-banner-right {
    padding-left: 30px;
}

.shopify-banner-right-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.shopify-banner-services>h3 {
    font-size: 1.6rem;
}

.shopify-banner-services>p {
    font-size: 1.1rem;
    color: slategray;
}

.shopify-banner-services {
    position: relative;
}

.shopify-banner-1st-service-heading::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: blue;
    z-index: 1;
    left: -55px;
    top: 14px;
}

.shopify-banner-1st-service-para::before {
    position: absolute;
    content: '1';
    color: #fff;
    z-index: 5;
    left: -42px;
    top: 16px;
}

.shopify-banner-2nd-service-heading::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: blue;
    z-index: 1;
    left: -55px;
    top: 14px;
}

.shopify-banner-2nd-service-para::before {
    position: absolute;
    content: '2';
    color: #fff;
    z-index: 5;
    left: -44px;
    top: 16px;
}

.shopify-banner-3rd-service-heading::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: blue;
    z-index: 1;
    left: -55px;
    top: 14px;
}

.shopify-banner-3rd-service-para::before {
    position: absolute;
    content: '3';
    color: #fff;
    z-index: 5;
    left: -44px;
    top: 16px;
}

.shopify-banner-4th-service-heading::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: blue;
    z-index: 1;
    left: -55px;
    top: 14px;
}

.shopify-banner-4th-service-para::before {
    position: absolute;
    content: '4';
    color: #fff;
    z-index: 5;
    left: -45px;
    top: 16px;
}

.shopify-banner-5th-service-heading::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: blue;
    z-index: 1;
    left: -55px;
    top: 14px;
}

.shopify-banner-5th-service-para::before {
    position: absolute;
    content: '5';
    color: #fff;
    z-index: 5;
    left: -45px;
    top: 16px;
}

.shopify-banner-right {
    position: relative;
}

.shopify-banner-right-content::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 0px;
    left: -11px;
    top: 17px;
    background: blue;
    z-index: 0;
    animation: shopifyProcessLine 3s ease-in-out forwards;
    animation-delay: 0.4s;
}

#shopify-1st-service {
    opacity: 0;
    animation: showText 0.5s ease-in forwards;
    animation-delay: 0.3s;
}

#shopify-2nd-service {
    opacity: 0;
    animation: showText 0.5s ease-in forwards;
    animation-delay: 1.1s;
}

#shopify-3rd-service {
    opacity: 0;
    animation: showText 0.5s ease-in forwards;
    animation-delay: 1.7s;
}

#shopify-4th-service {
    opacity: 0;
    animation: showText 0.5s ease-in forwards;
    animation-delay: 2.2s;
}

#shopify-5th-service {
    opacity: 0;
    animation: showText 0.5s ease-in forwards;
    animation-delay: 3s;
}

@keyframes shopifyProcessLine {
    0% {
        height: 0px;
    }

    100% {
        height: 518px;
    }
}

@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:1296px) {
    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }

        100% {
            height: 535px;
        }
    }
}

@media screen and (max-width:1228px) {
    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }

        100% {
            height: 560px;
        }
    }
}

@media screen and (max-width:1212px) {
    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }

        100% {
            height: 590px;
        }
    }
}

@media screen and (max-width:1212px) {
    .shopify-banner-right-content {
        gap: 50px;
    }
}


@media screen and (max-width:1000px) {
    .shopify-banner-flex-container {
        flex-direction: column;
    }

    .shopify-banner-left>img {
        display: block;
        margin: auto;
    }

    .shopify-banner-right {
        padding: 60px 10px 20px 60px;
    }

    .shopify-banner-right-content::before {
        left: 20px;
        top: 84px;
    }

    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }
        100% {
            height: 480px;
        }
    }
}

@media screen and (max-width:768px) {
    .shopify-inner-container {
        width: 100%;
        padding: 20px 30px;
    }

}

@media screen and (max-width:700px) {
    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }
        100% {
            height: 508px;
        }
    }

    .shopify-banner-right-content {
        gap: 48px;
    }
}

@media screen and (max-width: 655px) {
    .shopify-banner-right-content {
        gap: 37px;
    }
}

@media screen and (max-width: 638px) {
    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }
        100% {
            height: 515px;
        }
    }

    .shopify-banner-heading {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 480px) {
    .shopify-banner-services>p {
        font-size: 1.01rem;
        color: slategray;
    }
}

@media screen and (max-width: 451px) {
    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }
        100% {
            height: 522px;
        }
    }
}

@media screen and (max-width: 394px) {
    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }
        100% {
            height: 550px;
        }
    }

    .shopify-banner-right {
        padding: 60px 0px 20px 60px;
    }
}

@media screen and (max-width: 380px) {
    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }
        100% {
            height: 650px;
        }
    }
}

@media screen and (max-width: 362px) {
    @keyframes shopifyProcessLine {
        0% {
            height: 0px;
        }
        100% {
            height: 700px;
        }
    }
}