.big-services-container {
    max-width: 1720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 60px;
}

.big-services-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
}

.big-services-card:hover, .highlighted {
    background: #e0f0ff;
    border-color: #007BFF;
}

.big-services-card > h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.2rem;
}

.big-services-card > p {
    color: #666;
    margin-top: 10px;
}

@media (max-width: 1024px) {
    .big-services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .big-services-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .big-services-container {
        padding: 30px;
    }
}
